.player-tab1
{
	font-family: lato-n4, sans-serif;
}

.h1
{
	font-family: lato-n9, sans-serif;
}

.map,.H2,.h2-phone
{
	font-family: lato-n7, sans-serif;
}

#u659-4
{
	font-family: lato-n7, sans-serif;
}

#u654-4
{
	font-family: lato-n7, sans-serif;
}

#u650-4
{
	font-family: lato-n7, sans-serif;
}

#widgetu658_input,#widgetu658_prompt,#widgetu651_input,#widgetu651_prompt,#widgetu647_input,#widgetu647_prompt
{
	font-family: lato, sans-serif;
}

#u726.TabbedPanelsTabSelected #u728-4 p,#u721.TabbedPanelsTabSelected #u723-4 p,#u697.TabbedPanelsTabSelected #u698-4 p,#u736.TabbedPanelsTabSelected #u737-4 p,#u731.TabbedPanelsTabSelected #u734-4 p,#u588-15,#u586-42,#u1884-18
{
	font-family: lato-n4, sans-serif;
}

