.player-tab1
{
	font-family: lato-n4, sans-serif;
}

.h1
{
	font-family: lato-n9, sans-serif;
}

.map,.H2,.h2-phone
{
	font-family: lato-n7, sans-serif;
}

#u1023.TabbedPanelsTabSelected #u1024-4 p
{
	font-family: lato-n4, sans-serif;
}

