.version.about /* version checker */
{
	color: #0000FB;
	background-color: #8E01BF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1115px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -112px;
	margin-bottom: -48px;
	width: 0.01px;/* should not cover content below */
}

#u25093
{
	z-index: 251;
	width: 215px;
	min-height: 40px;
	left: -100px;
	position: relative;
}

#u25092
{
	z-index: 252;
	height: 99px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u25092-bw
{
	z-index: 252;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -37px;
}

#pu26695
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 35px;
}

#u26695
{
	z-index: 2;
	height: 200px;
}

#u26695-bw
{
	z-index: 2;
	margin-top: 99px;
	height: 200px;
}

#u25160
{
	z-index: 92;
	min-height: 123px;
	padding-bottom: 77px;
	background: #4778BA url("https://mattbag.github.io/garagenerd/images/silicon-cop.jpg") no-repeat center top;
	background-size: cover;
}

#u5083
{
	z-index: 222;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 78px;
	left: 125px;
}

#u4887-4
{
	z-index: 223;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u4890-4
{
	z-index: 227;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u5090-4
{
	z-index: 231;
	width: 157px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 1088px;
}

#u25160-bw
{
	z-index: 92;
	min-height: 123px;
	margin-top: 99px;
}

#u25095
{
	z-index: 278;
	width: 130px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#pmenuu25042
{
	width: 0.01px;
	padding-bottom: 51px;
	margin-left: 3px;
	margin-top: -274px;
}

#menuu25042
{
	z-index: 253;
	width: 363px;
	position: fixed;
	top: -13px;
	left: 807px;
}

#u25071
{
	width: 96px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u25074
{
	width: 96px;
	padding-bottom: 33px;
	position: relative;
}

#u25074:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u25074.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25075-4
{
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u25074:hover #u25075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u25074.MuseMenuActive #u25075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u25050
{
	width: 89px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u25051
{
	width: 89px;
	padding-bottom: 33px;
	position: relative;
}

#u25051:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u25051.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25054-4
{
	width: 43px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u25051:hover #u25054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u25051.MuseMenuActive #u25054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u25085
{
	width: 93px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u25086
{
	width: 93px;
	padding-bottom: 33px;
	position: relative;
}

#u25086:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u25086.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25088-4
{
	width: 48px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u25086:hover #u25088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u25086.MuseMenuActive #u25088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u25043
{
	width: 85px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u25046
{
	width: 85px;
	padding-bottom: 33px;
	position: relative;
}

#u25046:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u25046.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25049-4
{
	width: 40px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u25046:hover #u25049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u25046.MuseMenuActive #u25049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u25094
{
	z-index: 279;
	width: 127px;
	height: 43px;
	position: fixed;
	top: -9px;
	left: 3px;
}

#u16553
{
	z-index: 93;
	width: 1120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 25px;
	margin-top: 83px;
	position: relative;
}

#u1511-4
{
	z-index: 94;
	width: 128px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1516
{
	z-index: 98;
	width: 1009px;
	min-height: 21px;
	border-color: #CECECE;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 110px;
}

#u1518
{
	z-index: 99;
	width: 111px;
	min-height: 21px;
	border-color: #4778BA;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu8860
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 28px;
}

#u8860
{
	z-index: 107;
	width: 265px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1524
{
	z-index: 112;
	width: 245px;
	height: 245px;
	border-style: solid;
	border-width: 10px;
	border-color: #4778BA;
	border-radius: 210px;
	position: relative;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/team2.jpg") no-repeat left top;
}

.hidpi #u1524
{
	background-image: url("https://mattbag.github.io/garagenerd/images/team2_2x.jpg");
	background-size: 265px 265px;
}

#u1529-4
{
	z-index: 108;
	width: 218px;
	background-color: transparent;
	color: #495054;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 24px;
	margin-top: 7px;
	position: relative;
}

#u1530-4
{
	z-index: 113;
	width: 170px;
	background-color: transparent;
	color: #9CA4AF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 48px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u8861
{
	z-index: 124;
	width: 265px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 285px;
}

#u1521
{
	z-index: 129;
	width: 245px;
	height: 245px;
	border-style: solid;
	border-width: 10px;
	border-color: #4778BA;
	border-radius: 180px;
	position: relative;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/team4.jpg") no-repeat left top;
}

.hidpi #u1521
{
	background-image: url("https://mattbag.github.io/garagenerd/images/team4_2x.jpg");
	background-size: 265px 265px;
}

#u1527-4
{
	z-index: 125;
	width: 170px;
	background-color: transparent;
	color: #495054;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 48px;
	margin-top: 8px;
	position: relative;
}

#u1532-4
{
	z-index: 130;
	width: 170px;
	background-color: transparent;
	color: #9CA4AF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 47px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u8862
{
	z-index: 134;
	width: 265px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u1525
{
	z-index: 139;
	width: 245px;
	height: 245px;
	border-style: solid;
	border-width: 10px;
	border-color: #4778BA;
	border-radius: 190px;
	position: relative;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/team3.jpg") no-repeat left top;
}

.hidpi #u1525
{
	background-image: url("https://mattbag.github.io/garagenerd/images/team3_2x.jpg");
	background-size: 265px 265px;
}

#u1528-4
{
	z-index: 135;
	width: 170px;
	background-color: transparent;
	color: #495054;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 47px;
	margin-top: 8px;
	position: relative;
}

#u1534-4
{
	z-index: 140;
	width: 170px;
	background-color: transparent;
	color: #9CA4AF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 48px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u8863
{
	z-index: 144;
	width: 265px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 855px;
}

#u1520
{
	z-index: 149;
	width: 245px;
	height: 245px;
	border-style: solid;
	border-width: 10px;
	border-color: #4778BA;
	border-radius: 190px;
	position: relative;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/team1.jpg") no-repeat left top;
}

.hidpi #u1520
{
	background-image: url("https://mattbag.github.io/garagenerd/images/team1_2x.jpg");
	background-size: 265px 265px;
}

#u1526-4
{
	z-index: 145;
	width: 230px;
	background-color: transparent;
	color: #495054;
	line-height: 29px;
	text-align: center;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 18px;
	margin-top: 8px;
	position: relative;
}

#u1536-4
{
	z-index: 150;
	width: 236px;
	background-color: transparent;
	color: #9CA4AF;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 15px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u16554
{
	z-index: 100;
	width: 1120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 25px;
	margin-top: 120px;
	position: relative;
}

#u1546-4
{
	z-index: 101;
	width: 162px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#u1542
{
	z-index: 105;
	width: 1009px;
	min-height: 21px;
	border-color: #CECECE;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 110px;
}

#u1544
{
	z-index: 106;
	width: 111px;
	min-height: 21px;
	border-color: #4778BA;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#ppu8947
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 21px;
}

#pu8947
{
	width: 0.01px;
	margin-right: -10000px;
}

#u8947
{
	z-index: 235;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	position: relative;
}

#u8951
{
	z-index: 237;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u8955
{
	z-index: 240;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u8967
{
	z-index: 236;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u8963
{
	z-index: 238;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 20px;
	position: relative;
}

#u8965
{
	z-index: 241;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u8973
{
	z-index: 239;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u8975
{
	z-index: 242;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u1548-25
{
	z-index: 154;
	width: 523px;
	background-color: transparent;
	color: #555555;
	line-height: 18px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 27px;
}

#pu25172
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 3px;
	margin-left: 572px;
}

#u25172
{
	z-index: 243;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	position: relative;
}

#u25174
{
	z-index: 245;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u25177
{
	z-index: 248;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u25173
{
	z-index: 244;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u25175
{
	z-index: 246;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 20px;
	position: relative;
}

#u25178
{
	z-index: 249;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u25176
{
	z-index: 247;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u25179
{
	z-index: 250;
	width: 20px;
	min-height: 17px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 16px;
	line-height: 19px;
	margin-top: 19px;
	position: relative;
}

#u1550-25
{
	z-index: 179;
	width: 523px;
	background-color: transparent;
	color: #555555;
	line-height: 18px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 597px;
}

#u16555
{
	z-index: 117;
	width: 1120px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 25px;
	margin-top: 110px;
	position: relative;
}

#u1555-4
{
	z-index: 118;
	width: 128px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
}

#pu1516,#pu1542,#pu1553
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u1553
{
	z-index: 122;
	width: 1009px;
	min-height: 21px;
	border-color: #CECECE;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 110px;
}

#u1551
{
	z-index: 123;
	width: 111px;
	min-height: 21px;
	border-color: #4778BA;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1557-4
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 12px;
}

#u1557-4
{
	z-index: 204;
	width: 347px;
	background-color: transparent;
	color: #555555;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
}

#u1558-7
{
	z-index: 208;
	width: 361px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 379px;
}

#u1559-7
{
	z-index: 215;
	width: 348px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	left: 772px;
}

#u24874
{
	z-index: 4;
	min-height: 233px;
	padding-bottom: 81px;
}

#u24895
{
	z-index: 71;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 125px;
}

#u24896-4
{
	z-index: 72;
	width: 170px;
	position: relative;
	margin-right: -10000px;
}

#u24876
{
	z-index: 62;
	width: 245px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 420px;
}

#u24878-4
{
	z-index: 63;
	width: 228px;
	position: relative;
}

#u24877-4
{
	z-index: 67;
	width: 245px;
	margin-top: 16px;
	position: relative;
}

#u24879
{
	z-index: 13;
	width: 231px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 725px;
}

#u24893-4
{
	z-index: 14;
	width: 228px;
	position: relative;
}

#u24894-4
{
	z-index: 18;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu24880
{
	z-index: 22;
	width: 0.01px;
	height: 126px;
	margin-top: 4px;
	position: relative;
}

#widgetu24881
{
	z-index: 23;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu24881.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u24884-4
{
	z-index: 24;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24881:hover #u24884-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24888
{
	z-index: 28;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu24888.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u24889-4
{
	z-index: 29;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24881.fld-err-st #u24884-4,#widgetu24888:hover #u24889-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24888.fld-err-st #u24889-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24881_input,#widgetu24881_prompt,#widgetu24888_input,#widgetu24888_prompt
{
	width: 211px;
	min-height: 14px;
	padding: 10px;
}

#widgetu24881:hover #widgetu24881_input,#widgetu24881.fld-err-st #widgetu24881_input,#widgetu24881:hover #widgetu24881_prompt,#widgetu24881.fld-err-st #widgetu24881_prompt,#widgetu24888:hover #widgetu24888_input,#widgetu24888.fld-err-st #widgetu24888_input,#widgetu24888:hover #widgetu24888_prompt,#widgetu24888.fld-err-st #widgetu24888_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u24887-4
{
	z-index: 33;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u24886-4
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u24892-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24880.frm-sub-st #u24887-4,#widgetu24880.frm-subm-err-st #u24886-4,#widgetu24880.frm-subm-ok-st #u24892-4
{
	min-height: 25px;
}

#u24885-17
{
	z-index: 45;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u24869
{
	z-index: 76;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 1031px;
}

#u24870-4
{
	z-index: 88;
	width: 214px;
	position: relative;
}

#u24871-11
{
	z-index: 77;
	width: 214px;
	min-height: 104px;
	margin-top: 13px;
	position: relative;
}

#u24874-bw
{
	z-index: 4;
	min-height: 233px;
	margin-top: 151px;
}

#u24875
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 12px;
}

#u25160_align_to_page,#u24874_align_to_page,#u24875_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u24873-4
{
	z-index: 5;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 125px;
}

#u24872-4
{
	z-index: 9;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1017px;
}

#u24875-bw
{
	z-index: 3;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 36px;
	padding-bottom: 47px;
}

