.version.community_action /* version checker */
{
	color: #00000D;
	background-color: #96FFF4;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1114.9716658128827px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -37px;
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#pu4865
{
	width: 0.01px;
	padding-bottom: 99px;
	margin-left: -100px;
}

#u4865
{
	z-index: 348;
	height: 99px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4865-bw
{
	z-index: 348;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -37px;
}

#menuu4820
{
	z-index: 349;
	width: 363px;
	position: fixed;
	top: -13px;
	left: 500px;
}

#u4835
{
	width: 96px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u4838
{
	width: 96px;
	padding-bottom: 33px;
	position: relative;
}

#u4838.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u4841-4
{
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u4838:hover #u4841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u4838.MuseMenuActive #u4841-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u4828
{
	width: 89px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u4831
{
	width: 89px;
	padding-bottom: 33px;
	position: relative;
}

#u4831.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u4833-4
{
	width: 43px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u4831:hover #u4833-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4831.MuseMenuActive #u4833-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u4842
{
	width: 93px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u4843
{
	width: 93px;
	padding-bottom: 33px;
	position: relative;
}

#u4843.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u4845-4
{
	width: 48px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u4843:hover #u4845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u4843.MuseMenuActive #u4845-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u16815
{
	width: 85px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u16816
{
	width: 85px;
	padding-bottom: 33px;
	position: relative;
}

#u16816.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u16819-4
{
	width: 40px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u16816:hover #u16819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u16816.MuseMenuActive #u16819-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u15960
{
	z-index: 375;
	width: 127px;
	height: 43px;
	position: fixed;
	top: -9px;
	left: 25px;
}

#u4870
{
	z-index: 374;
	width: 216px;
	height: 73px;
	margin-left: 25px;
	top: -86px;
	margin-bottom: -73px;
	position: relative;
}

#u6306
{
	z-index: 2;
	min-height: 124px;
	padding-bottom: 76px;
}

#u5102
{
	z-index: 301;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 125px;
}

#u5103-4
{
	z-index: 302;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u5104-4
{
	z-index: 306;
	width: 228px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u5105-4
{
	z-index: 310;
	width: 380px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 92px;
	left: 865px;
}

#u6306-bw
{
	z-index: 2;
	min-height: 124px;
}

#pppbuttonu9507
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 114px;
}

#ppbuttonu9507
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu9507
{
	z-index: 201;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9513
{
	z-index: 202;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_1.jpg") no-repeat left top;
}

#pbuttonu9507:hover #u9513
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9513
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_1_2x.jpg");
	background-size: 360px 175px;
}

#u9512-4
{
	z-index: 203;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9507:hover #u9512-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9514-5
{
	z-index: 207;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9507:hover #u9514-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9515
{
	float: left;
}

#u9516
{
	z-index: 212;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9508-4
{
	z-index: 214;
	width: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9507:hover #u9508-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u9509
{
	float: left;
}

#u9510
{
	z-index: 218;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9507 #u9508-4
{
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u9518-6
{
	z-index: 220;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9507:hover #u9518-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu9453
{
	z-index: 122;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9464
{
	z-index: 123;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_2.jpg") no-repeat left top;
}

#pbuttonu9453:hover #u9464
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9464
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_2_2x.jpg");
	background-size: 360px 175px;
}

#u9463-4
{
	z-index: 124;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9453:hover #u9463-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9455-4
{
	z-index: 128;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9453:hover #u9455-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9456
{
	float: left;
}

#u9457
{
	z-index: 132;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9459-4
{
	z-index: 134;
	width: 153px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9453:hover #u9459-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 153px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#pbuttonu9453.ButtonSelected #u9459-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 153px;
}

#u9460
{
	float: left;
}

#u9461
{
	z-index: 138;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9453 #u9459-4
{
	position: relative;
	width: 153px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u9454-6
{
	z-index: 140;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9453:hover #u9454-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu9519
{
	z-index: 228;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9526
{
	z-index: 229;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_4.jpg") no-repeat left top;
}

#pbuttonu9519:hover #u9526
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9526
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_4_2x.jpg");
	background-size: 360px 175px;
}

#u9521-4
{
	z-index: 230;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9519:hover #u9521-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9522-4
{
	z-index: 234;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9519:hover #u9522-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9523
{
	float: left;
}

#u9524
{
	z-index: 238;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9527-5
{
	z-index: 240;
	width: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9519:hover #u9527-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u9528
{
	float: left;
}

#u9529
{
	z-index: 244;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9519 #u9527-5
{
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u9520-6
{
	z-index: 247;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9519:hover #u9520-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#ppbuttonu9483
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 389px;
}

#pbuttonu9507,#pbuttonu9483
{
	width: 0.01px;
}

#buttonu9483
{
	z-index: 148;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9494
{
	z-index: 149;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_6.jpg") no-repeat left top;
}

#pbuttonu9483:hover #u9494
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9494
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_6_2x.jpg");
	background-size: 360px 175px;
}

#u9484-4
{
	z-index: 150;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9483:hover #u9484-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9486-4
{
	z-index: 154;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9483:hover #u9486-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9487
{
	float: left;
}

#u9488
{
	z-index: 158;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9490-4
{
	z-index: 160;
	width: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9483:hover #u9490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu9519.ButtonSelected #u9527-5,#pbuttonu9483.ButtonSelected #u9490-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 156px;
}

#u9491
{
	float: left;
}

#u9492
{
	z-index: 164;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9483 #u9490-4
{
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u9485-6
{
	z-index: 166;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9483:hover #u9485-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu9495
{
	z-index: 174;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9502
{
	z-index: 175;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_3.jpg") no-repeat left top;
}

#pbuttonu9495:hover #u9502
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9502
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_3_2x.jpg");
	background-size: 360px 175px;
}

#u9496-4
{
	z-index: 176;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9495:hover #u9496-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9497-5
{
	z-index: 180;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9495:hover #u9497-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9498
{
	float: left;
}

#u9499
{
	z-index: 184;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9503-4
{
	z-index: 187;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9495:hover #u9503-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#u9504
{
	float: left;
	margin-top: 1px;
	margin-bottom: -1px;
}

#u9504:hover
{
	min-height: 0px;
	margin: 1px 0px -1px;
}

#u9505
{
	z-index: 191;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9495 #u9503-4
{
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u9501-6
{
	z-index: 193;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9495:hover #u9501-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu9453,#pbuttonu9519,#pbuttonu9495,#pbuttonu9531
{
	width: 0.01px;
	margin-top: 40px;
}

#buttonu9531
{
	z-index: 255;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu9507:hover #buttonu9507,#pbuttonu9453:hover #buttonu9453,#pbuttonu9519:hover #buttonu9519,#pbuttonu9483:hover #buttonu9483,#pbuttonu9495:hover #buttonu9495,#pbuttonu9531:hover #buttonu9531
{
	width: 360px;
	height: 408px;
	-pie-box-shadow: 0px 0px 34px #B2B2B2;
	box-shadow: 0px 0px 34px rgba(0,0,0,0.3);
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u9536
{
	z-index: 256;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_5.jpg") no-repeat left top;
}

#pbuttonu9531:hover #u9536
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

#pbuttonu9507.ButtonSelected #u9513,#pbuttonu9453.ButtonSelected #u9464,#pbuttonu9519.ButtonSelected #u9526,#pbuttonu9483.ButtonSelected #u9494,#pbuttonu9495.ButtonSelected #u9502,#pbuttonu9531.ButtonSelected #u9536
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 360px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9536
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_5_2x.jpg");
	background-size: 360px 175px;
}

#pbuttonu9507 #u9513,#pbuttonu9453 #u9464,#pbuttonu9519 #u9526,#pbuttonu9483 #u9494,#pbuttonu9495 #u9502,#pbuttonu9531 #u9536
{
	position: relative;
	width: 360px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9537-4
{
	z-index: 257;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9531:hover #u9537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#pbuttonu9507.ButtonSelected #u9512-4,#pbuttonu9453.ButtonSelected #u9463-4,#pbuttonu9519.ButtonSelected #u9521-4,#pbuttonu9483.ButtonSelected #u9484-4,#pbuttonu9495.ButtonSelected #u9496-4,#pbuttonu9531.ButtonSelected #u9537-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 285px;
}

#pbuttonu9507 #u9512-4,#pbuttonu9453 #u9463-4,#pbuttonu9519 #u9521-4,#pbuttonu9483 #u9484-4,#pbuttonu9495 #u9496-4,#pbuttonu9531 #u9537-4
{
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 187px;
	left: 21px;
}

#u9538-4
{
	z-index: 261;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9531:hover #u9538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#pbuttonu9507.ButtonSelected #u9514-5,#pbuttonu9453.ButtonSelected #u9455-4,#pbuttonu9519.ButtonSelected #u9522-4,#pbuttonu9483.ButtonSelected #u9486-4,#pbuttonu9495.ButtonSelected #u9497-5,#pbuttonu9495.ButtonSelected #u9503-4,#pbuttonu9531.ButtonSelected #u9538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
}

#u9539
{
	float: left;
}

#u9540
{
	z-index: 265;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9507 #u9514-5,#pbuttonu9453 #u9455-4,#pbuttonu9519 #u9522-4,#pbuttonu9483 #u9486-4,#pbuttonu9495 #u9497-5,#pbuttonu9531 #u9538-4
{
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 21px;
}

#u9532-4
{
	z-index: 267;
	width: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9531:hover #u9532-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu9507.ButtonSelected #u9508-4,#pbuttonu9531.ButtonSelected #u9532-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 154px;
}

#u9533
{
	float: left;
}

#u9515:hover,#u9509:hover,#u9456:hover,#u9460:hover,#u9523:hover,#u9528:hover,#u9487:hover,#u9491:hover,#u9498:hover,#u9539:hover,#u9533:hover
{
	min-height: 0px;
	margin: 0px;
}

#u9534
{
	z-index: 271;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9531 #u9532-4
{
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u9542-6
{
	z-index: 273;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9531:hover #u9542-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu9507.ButtonSelected #u9518-6,#pbuttonu9453.ButtonSelected #u9454-6,#pbuttonu9519.ButtonSelected #u9520-6,#pbuttonu9483.ButtonSelected #u9485-6,#pbuttonu9495.ButtonSelected #u9501-6,#pbuttonu9531.ButtonSelected #u9542-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
	width: 315px;
}

#u9518-2,#u9454-2,#u9520-2,#u9485-2,#u9501-2,#u9542-2
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9507 #u9518-6,#pbuttonu9453 #u9454-6,#pbuttonu9519 #u9520-6,#pbuttonu9483 #u9485-6,#pbuttonu9495 #u9501-6,#pbuttonu9531 #u9542-6
{
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 21px;
}

#u16691
{
	z-index: 314;
	width: 323px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 797px;
}

#u16701-4
{
	z-index: 315;
	width: 179px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 1px;
	position: relative;
}

#u16694-4
{
	z-index: 323;
	width: 322px;
	min-height: 85px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u16692
{
	z-index: 347;
	width: 323px;
	min-height: 813px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u16702-4
{
	z-index: 319;
	width: 179px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#pu16697
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 7px;
}

#u16697
{
	z-index: 343;
	width: 19px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16704-4
{
	z-index: 327;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u16705
{
	z-index: 344;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16695-4
{
	z-index: 331;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu16705,#pu16707
{
	width: 0.01px;
	margin-top: 9px;
}

#u16707
{
	z-index: 345;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16696-4
{
	z-index: 335;
	width: 229px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu16699
{
	width: 0.01px;
	margin-top: 7px;
}

#u16699
{
	z-index: 346;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16703-4
{
	z-index: 339;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u16704-4 > *,#u16695-4 > *,#u16696-4 > *,#u16703-4 > *
{
	color: #555555;
}

#ppbuttonu9543
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 70px;
}

#pbuttonu9543
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu9543
{
	z-index: 281;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

.Pages_Button_Normal
{
	border-width: 0px;
	border-color: #787878;
	background-color: #4778BA;
	border-radius: 1px;
}

#u9544-4
{
	z-index: 282;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu9543:hover #u9544-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu9543:hover #u9544-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu9545
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 38px;
}

#buttonu9545
{
	z-index: 288;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#u9546-4
{
	z-index: 289;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu9545:hover #u9546-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu9545:hover #u9546-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu9547
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 75px;
}

#buttonu9547
{
	z-index: 295;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu9543:hover #buttonu9543,#pbuttonu9545:hover #buttonu9545,#pbuttonu9547:hover #buttonu9547
{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 2px;
	border-color: #4778BA;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u9548-4
{
	z-index: 296;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu9547:hover #u9548-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu9543.ButtonSelected #u9544-4,#pbuttonu9545.ButtonSelected #u9546-4,#pbuttonu9547.ButtonSelected #u9548-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 18px;
}

#pbuttonu9547:hover #u9548-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu9543.ButtonSelected #u9544-4 p,#pbuttonu9545.ButtonSelected #u9546-4 p,#pbuttonu9547.ButtonSelected #u9548-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu9543 #u9544-4,#pbuttonu9545 #u9546-4,#pbuttonu9547 #u9548-4
{
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u4807
{
	z-index: 4;
	min-height: 231px;
	padding-bottom: 83px;
}

#u16639
{
	z-index: 9;
	width: 228px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 125px;
}

#u4790-4
{
	z-index: 10;
	width: 228px;
	position: relative;
}

#u4811-4
{
	z-index: 14;
	width: 228px;
	margin-top: 12px;
	position: relative;
}

#u16640
{
	z-index: 22;
	width: 228px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 427px;
}

#u4808-4
{
	z-index: 23;
	width: 228px;
	position: relative;
}

#menuu4747
{
	z-index: 27;
	width: 187px;
	margin-top: 12px;
	position: relative;
}

#u4763
{
	width: 187px;
	min-height: 17px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u4765-4
{
	width: 187px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u4751
{
	width: 187px;
	min-height: 17px;
	padding-bottom: 20px;
	position: relative;
	margin-right: -10000px;
}

#u4754-4
{
	width: 187px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u4779
{
	width: 187px;
	min-height: 17px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u4782-4
{
	width: 187px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u4762,#u4748,#u4776,#u16822
{
	width: 187px;
	position: relative;
}

#u16825
{
	width: 187px;
	min-height: 17px;
	padding-bottom: 21px;
	position: relative;
	margin-right: -10000px;
}

#u4763.MuseMenuActive,#u4751.MuseMenuActive,#u4779.MuseMenuActive,#u16825.MuseMenuActive
{
	width: 187px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u16827-4
{
	width: 187px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
}

#u4763.MuseMenuActive #u4765-4,#u4751.MuseMenuActive #u4754-4,#u4779.MuseMenuActive #u4782-4,#u16825.MuseMenuActive #u16827-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 187px;
	margin: 0px -10000px 0px 0px;
}

#u16641
{
	z-index: 52;
	width: 231px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 729px;
}

#u4805-4
{
	z-index: 53;
	width: 228px;
	position: relative;
}

#u4809-4
{
	z-index: 57;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu14363
{
	z-index: 61;
	width: 0.01px;
	height: 126px;
	margin-top: 4px;
	position: relative;
}

#widgetu14370
{
	z-index: 62;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu14370.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u14373-4
{
	z-index: 63;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14370:hover #u14373-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14365
{
	z-index: 67;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu14365.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u14368-4
{
	z-index: 68;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14370.fld-err-st #u14373-4,#widgetu14365:hover #u14368-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14365.fld-err-st #u14368-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14370_input,#widgetu14370_prompt,#widgetu14365_input,#widgetu14365_prompt
{
	width: 211px;
	min-height: 14px;
	padding: 10px;
}

#widgetu14370:hover #widgetu14370_input,#widgetu14370.fld-err-st #widgetu14370_input,#widgetu14370:hover #widgetu14370_prompt,#widgetu14370.fld-err-st #widgetu14370_prompt,#widgetu14365:hover #widgetu14365_input,#widgetu14365.fld-err-st #widgetu14365_input,#widgetu14365:hover #widgetu14365_prompt,#widgetu14365.fld-err-st #widgetu14365_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14374-4
{
	z-index: 72;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14369-4
{
	z-index: 76;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14375-4
{
	z-index: 80;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14363.frm-sub-st #u14374-4,#widgetu14363.frm-subm-err-st #u14369-4,#widgetu14363.frm-subm-ok-st #u14375-4
{
	min-height: 25px;
}

#u14364-17
{
	z-index: 84;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u17531
{
	z-index: 101;
	width: 216px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 1029px;
}

#u17535-4
{
	z-index: 113;
	width: 214px;
	margin-left: 2px;
	position: relative;
}

#u17532-11
{
	z-index: 102;
	width: 214px;
	min-height: 104px;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#pu17540
{
	width: 0.01px;
	margin-top: -8px;
}

#u17540
{
	z-index: 117;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u17538
{
	z-index: 118;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u17533
{
	z-index: 119;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17536
{
	z-index: 120;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u4807-bw
{
	z-index: 4;
	min-height: 231px;
	margin-top: 150px;
}

#u4806
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 12px;
}

#u6306_align_to_page,#u4807_align_to_page,#u4806_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u4745-4
{
	z-index: 5;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 125px;
}

#u4791-4
{
	z-index: 18;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1017px;
}

#u4806-bw
{
	z-index: 3;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 36px;
	padding-bottom: 47px;
}

