.Navigation-Bar
{
	border-width: 0px;
	-pie-box-shadow: 0px 0px 20px #B2B2B2;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	border-color: transparent;
	background-color: #495054;
}

#u4835,#u4838
{
	background-color: transparent;
}

#u4841-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u4838:hover #u4841-4 p
{
	color: #47BAB5;
	visibility: inherit;
}

#u4828,#u4831
{
	background-color: transparent;
}

#u4833-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u4838.MuseMenuActive #u4841-4 p,#u4831:hover #u4833-4 p
{
	color: #47BAB5;
	visibility: inherit;
}

#u4842,#u4843
{
	background-color: transparent;
}

#u4845-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u4831.MuseMenuActive #u4833-4 p,#u4843:hover #u4845-4 p
{
	color: #47BAB5;
	visibility: inherit;
}

#u16815,#u16816
{
	background-color: transparent;
}

#u16819-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u4843.MuseMenuActive #u4845-4 p,#u16816:hover #u16819-4 p
{
	color: #47BAB5;
	visibility: inherit;
}

#u16816.MuseMenuActive #u16819-4 p
{
	color: #47BAB5;
	visibility: inherit;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u15960
{
	background: transparent url("https://mattbag.github.io/garagenerd/images/logo_small.png") no-repeat center center;
	background-size: cover;
}

.Small-Logo
{
	border-width: 0px;
	border-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	background: transparent url("https://mattbag.github.io/garagenerd/images/logo_small.png") no-repeat center center;
	background-size: cover;
}

.hidpi .Small-Logo,.hidpi #u15960
{
	background-image: url("https://mattbag.github.io/garagenerd/images/logo_small_2x.png");
}

.js #u15960.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u4870
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}

.Big-Logo
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("https://mattbag.github.io/garagenerd/images/logo.png") no-repeat center center;
}

.hidpi .Big-Logo
{
	background-image: url("https://mattbag.github.io/garagenerd/images/logo_2x.png");
	background-size: 216px 73px;
}

#u6306
{
	border-width: 0px;
	border-color: transparent;
	background: #FFFFFF url("https://mattbag.github.io/garagenerd/images/header_image.jpg") no-repeat center center;
	background-size: cover;
}

#u4807
{
	border-color: #000000;
	background-color: #363636;
}

#u4763
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u4763::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u4765-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u4751
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u4751::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u4754-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u4779
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u4779::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u4782-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u4762,#u4748,#u4776,#u16822
{
	background-color: transparent;
}

#u16825
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u16825::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u16827-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u4790-4,#u4811-4,#u4808-4,#u4805-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#menuu4820,#u16639,#u16640,#menuu4747,#u16641,#widgetu14370
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14373-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu14370:hover #u14373-4
{
	border-color: #BFC7D3;
}

.Footer-Form-Normal
{
	border-width: 0px;
	border-color: #BFC7D3;
	background-color: #282828;
	border-radius: 5px;
}

#widgetu14370.non-empty-st #u14373-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu14370:hover #u14373-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu14365
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu14370.fld-err-st,#widgetu14365.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u14368-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu14365:hover #u14368-4
{
	border-color: #BFC7D3;
}

#widgetu14370.fld-err-st #u14373-4,#widgetu14365.fld-err-st #u14368-4
{
	border-color: #D7244C;
}

#widgetu14365.non-empty-st #u14368-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu14365:hover #u14368-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu14370.fld-err-st #u14373-4 *,#widgetu14365.fld-err-st #u14368-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu14370_input,#widgetu14370_prompt,#widgetu14365_input,#widgetu14365_prompt
{
	color: #636363;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu14370.non-empty-st #widgetu14370_prompt,#widgetu14365.non-empty-st #widgetu14365_prompt
{
	visibility: hidden;
}

#u14374-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu14363.frm-sub-st #u14374-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14369-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu14363.frm-subm-err-st #u14369-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14375-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

.js #u4870.ose_pre_init,#widgetu14363.frm-sub-st #u14374-4,#widgetu14363.frm-subm-err-st #u14369-4,#widgetu14363.frm-subm-ok-st #u14375-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu14363.frm-subm-ok-st #u14375-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14364-17
{
	background: url("https://mattbag.github.io/garagenerd/images/u14364-17.png") no-repeat 0px 0px;
}

#u14364-17:hover
{
	background: url("https://mattbag.github.io/garagenerd/images/u14364-17-r.png") no-repeat 0px 0px;
}

#u14364-17:active
{
	background: url("https://mattbag.github.io/garagenerd/images/u14364-17-m.png") no-repeat 0px 0px;
}

#widgetu14363.frm-sub-st #u14364-17
{
	background: url("https://mattbag.github.io/garagenerd/images/u14364-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u14364-17
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u14364-17_2x.png");
	background-size: 130px 30px;
}

.hidpi #u14364-17:hover
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u14364-17-r_2x.png");
	background-size: 130px 30px;
}

.hidpi #u14364-17:active
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u14364-17-m_2x.png");
	background-size: 130px 30px;
}

.hidpi #widgetu14363.frm-sub-st #u14364-17
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u14364-17-fs_2x.png");
	background-size: 130px 30px;
}

#u17531
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u17535-4
{
	background-color: transparent;
	color: #969696;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u17540,#u17538,#u17533,#u17536
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #969696;
	font-size: 32px;
	text-align: center;
	line-height: 38px;
	font-weight: bold;
}

#u4806
{
	border-width: 0px;
	border-color: transparent;
	background-color: #292929;
}

#u4809-4,#u17532-11,#u4745-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u4791-4
{
	background-color: transparent;
	color: #999999;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 300;
}


