#u25092
{
	background-color: #363636;
}

.Navigation-Bar
{
	border-width: 0px;
	-pie-box-shadow: 0px 0px 20px #B2B2B2;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
	border-color: transparent;
	background-color: #495054;
}

#u26695
{
	background-color: #4778BA;
}

#u25095
{
	background: transparent url("https://mattbag.github.io/garagenerd/images/nerd-band2.png") no-repeat center center;
	background-size: contain;
}

.Big-Logo
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("https://mattbag.github.io/garagenerd/images/logo.png") no-repeat center center;
}

.hidpi .Big-Logo
{
	background-image: url("https://mattbag.github.io/garagenerd/images/logo_2x.png");
	background-size: 216px 73px;
}

.hidpi #u25095
{
	background-image: url("https://mattbag.github.io/garagenerd/images/nerd-band_2x.png");
}

#u25071,#u25074
{
	background-color: transparent;
}

#u25074:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #4778BA;
}

#u25075-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u25050,#u25051
{
	background-color: transparent;
}

#u25051:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #4778BA;
}

#u25054-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u25085,#u25086
{
	background-color: transparent;
}

#u25086:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #4778BA;
}

#u25088-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u25043,#u25046
{
	background-color: transparent;
}

#u25046:hover
{
	border-width: 0px;
	border-color: #000000;
	background-color: #4778BA;
}

#u25074.MuseMenuActive,#u25051.MuseMenuActive,#u25086.MuseMenuActive,#u25046.MuseMenuActive
{
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-width: 0px 0px 2px;
}

#u25049-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u25094
{
	background: transparent url("https://mattbag.github.io/garagenerd/images/nerd-band-u15956-fr.png") no-repeat center center;
	background-size: contain;
}

.Small-Logo
{
	border-width: 0px;
	border-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	background: transparent url("https://mattbag.github.io/garagenerd/images/logo_small.png") no-repeat center center;
	background-size: cover;
}

.hidpi .Small-Logo
{
	background-image: url("https://mattbag.github.io/garagenerd/images/logo_small_2x.png");
}

.hidpi #u25094
{
	background-image: url("https://mattbag.github.io/garagenerd/images/nerd-band-u15956-fr_2x.png");
}

.js #u25094.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u24874
{
	border-color: #000000;
	background-color: #292929;
}

#u24896-4,#u24878-4,#u24877-4,#u24893-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u25093,#menuu25042,#u24895,#u24876,#u24879,#widgetu24881
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u24884-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu24881:hover #u24884-4
{
	border-color: #BFC7D3;
}

.Footer-Form-Normal
{
	border-width: 0px;
	border-color: #BFC7D3;
	background-color: #282828;
	border-radius: 5px;
}

#widgetu24881.non-empty-st #u24884-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu24881:hover #u24884-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu24888
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu24881.fld-err-st,#widgetu24888.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u24889-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu24888:hover #u24889-4
{
	border-color: #BFC7D3;
}

#widgetu24881.fld-err-st #u24884-4,#widgetu24888.fld-err-st #u24889-4
{
	border-color: #D7244C;
}

#widgetu24888.non-empty-st #u24889-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu24888:hover #u24889-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu24881.fld-err-st #u24884-4 *,#widgetu24888.fld-err-st #u24889-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu24881_input,#widgetu24881_prompt,#widgetu24888_input,#widgetu24888_prompt
{
	color: #636363;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu24881.non-empty-st #widgetu24881_prompt,#widgetu24888.non-empty-st #widgetu24888_prompt
{
	visibility: hidden;
}

#u24887-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu24880.frm-sub-st #u24887-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u24886-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu24880.frm-subm-err-st #u24886-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u24892-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

.js #u25095.ose_pre_init,#widgetu24880.frm-sub-st #u24887-4,#widgetu24880.frm-subm-err-st #u24886-4,#widgetu24880.frm-subm-ok-st #u24892-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu24880.frm-subm-ok-st #u24892-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u24885-17
{
	background: url("https://mattbag.github.io/garagenerd/images/u24885-17.png") no-repeat 0px 0px;
}

#u24885-17:hover
{
	background: url("https://mattbag.github.io/garagenerd/images/u24885-17-r.png") no-repeat 0px 0px;
}

#u24885-17:active
{
	background: url("https://mattbag.github.io/garagenerd/images/u24885-17-m.png") no-repeat 0px 0px;
}

#widgetu24880.frm-sub-st #u24885-17
{
	background: url("https://mattbag.github.io/garagenerd/images/u24885-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u24885-17
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u24885-17_2x.png");
	background-size: 130px 30px;
}

.hidpi #u24885-17:hover
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u24885-17-r_2x.png");
	background-size: 130px 30px;
}

.hidpi #u24885-17:active
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u24885-17-m_2x.png");
	background-size: 130px 30px;
}

.hidpi #widgetu24880.frm-sub-st #u24885-17
{
	background-image: url("https://mattbag.github.io/garagenerd/images/u24885-17-fs_2x.png");
	background-size: 130px 30px;
}

#u24869
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u24870-4
{
	background-color: transparent;
	color: #969696;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u24875
{
	border-width: 0px;
	border-color: transparent;
	background-color: #292929;
}

#u24894-4,#u24871-11,#u24873-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u24872-4
{
	background-color: transparent;
	color: #999999;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 300;
}


