.version.news /* version checker */
{
	color: #0000F0;
	background-color: #AC1064;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 1114.9716658128827px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -112px;
	margin-bottom: -48px;
	width: 0.01px;/* should not cover content below */
}

#u25093
{
	z-index: 306;
	width: 215px;
	min-height: 40px;
	left: -100px;
	position: relative;
}

#u25092
{
	z-index: 307;
	height: 99px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u25092-bw
{
	z-index: 307;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -37px;
}

#pu26695
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 35px;
}

#u26695
{
	z-index: 2;
	min-height: 124px;
	padding-bottom: 76px;
}

#u5087
{
	z-index: 297;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 125px;
}

#u5089-4
{
	z-index: 298;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u5088-4
{
	z-index: 302;
	width: 228px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u26695-bw
{
	z-index: 2;
	min-height: 124px;
	margin-top: 99px;
}

#u25095
{
	z-index: 333;
	width: 130px;
	height: 138px;
	position: relative;
	margin-right: -10000px;
	left: 100px;
}

#pu9356
{
	width: 0.01px;
	padding-bottom: 248px;
	margin-left: 3px;
	margin-top: -274px;
}

#u9356
{
	z-index: 118;
	width: 261px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 122px;
	right: 130px;
}

#u9356_position_content
{
	margin-top: -24px;
	padding-bottom: 173px;
	width: 100%;
}

#u4053-4
{
	z-index: 119;
	width: 179px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: fixed;
	top: 122px;
	right: 210px;
}

#pu8999
{
	width: 0.01px;
	padding-bottom: 23px;
	position: fixed;
	top: 152px;
	right: 130px;
}

#u8999
{
	z-index: 139;
	width: 21px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 154px;
	right: 369px;
}

#u4067-4
{
	z-index: 123;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: fixed;
	top: 152px;
	right: 130px;
}

#pu9003
{
	width: 0.01px;
	padding-bottom: 23px;
	position: fixed;
	top: 184px;
	right: 130px;
}

#u9003
{
	z-index: 140;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 186px;
	right: 370px;
}

#u4069-4
{
	z-index: 127;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: fixed;
	top: 184px;
	right: 130px;
}

#pu9007
{
	width: 0.01px;
	padding-bottom: 25px;
	position: fixed;
	top: 216px;
	right: 130px;
}

#u9007
{
	z-index: 141;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 218px;
	right: 370px;
}

#u4071-4
{
	z-index: 131;
	width: 229px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: fixed;
	top: 216px;
	right: 130px;
}

#pu9011
{
	width: 0.01px;
	padding-bottom: 23px;
	position: fixed;
	top: 248px;
	right: 130px;
}

#u9011
{
	z-index: 142;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: fixed;
	top: 250px;
	right: 370px;
}

#u4073-4
{
	z-index: 135;
	width: 229px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-family: lato, sans-serif;
	font-weight: 400;
	visibility: inherit;
	position: fixed;
	top: 248px;
	right: 130px;
}

#u4067-4 > *,#u4069-4 > *,#u4071-4 > *,#u4073-4 > *
{
	color: #555555;
}

#menuu25042
{
	z-index: 308;
	width: 363px;
	position: fixed;
	top: -13px;
	left: 807px;
}

#u25071
{
	width: 96px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
}

#u25074
{
	width: 96px;
	padding-bottom: 33px;
	position: relative;
}

#u25074:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u25074.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25075-4
{
	width: 50px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u25074:hover #u25075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u25074.MuseMenuActive #u25075-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u25050
{
	width: 89px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 96px;
}

#u25051
{
	width: 89px;
	padding-bottom: 33px;
	position: relative;
}

#u25051:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u25051.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25054-4
{
	width: 43px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 23px;
}

#u25051:hover #u25054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u25051.MuseMenuActive #u25054-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 43px;
	margin: 0px -10000px 0px 0px;
}

#u25085
{
	width: 93px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 185px;
}

#u25086
{
	width: 93px;
	padding-bottom: 33px;
	position: relative;
}

#u25086:hover
{
	width: 93px;
	min-height: 0px;
	margin: 0px;
}

#u25086.MuseMenuActive
{
	width: 93px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25088-4
{
	width: 48px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u25086:hover #u25088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u25086.MuseMenuActive #u25088-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 48px;
	margin: 0px -10000px 0px 0px;
}

#u25043
{
	width: 85px;
	min-height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 278px;
}

#u25046
{
	width: 85px;
	padding-bottom: 33px;
	position: relative;
}

#u25046:hover
{
	width: 85px;
	min-height: 0px;
	margin: 0px;
}

#u25046.MuseMenuActive
{
	width: 85px;
	min-height: 0px;
	margin: 0px 0px -2px;
}

#u25049-4
{
	width: 40px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 16px;
	left: 22px;
}

#u25046:hover #u25049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u25046.MuseMenuActive #u25049-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 40px;
	margin: 0px -10000px 0px 0px;
}

#u25094
{
	z-index: 334;
	width: 127px;
	height: 43px;
	position: fixed;
	top: -9px;
	left: 3px;
}

#ppbuttonu4276
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 114px;
}

#buttonu4276
{
	z-index: 197;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4277
{
	z-index: 198;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_1.jpg") no-repeat left top;
}

#pbuttonu4276:hover #u4277
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u4277
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_1_2x.jpg");
	background-size: 360px 175px;
}

#u4278-4
{
	z-index: 199;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu4276:hover #u4278-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u4280-5
{
	z-index: 203;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4276:hover #u4280-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9027
{
	float: left;
}

#u9025
{
	z-index: 208;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4281-4
{
	z-index: 210;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4276:hover #u4281-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u9179
{
	float: left;
}

#u9177
{
	z-index: 214;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4279-6
{
	z-index: 216;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu4276:hover #u4279-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu4258
{
	z-index: 144;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4261
{
	z-index: 145;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_6.jpg") no-repeat left top;
}

#pbuttonu4258:hover #u4261
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u4261
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_6_2x.jpg");
	background-size: 360px 175px;
}

#u4259-4
{
	z-index: 146;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu4258:hover #u4259-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u4262-4
{
	z-index: 150;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4258:hover #u4262-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9030
{
	float: left;
}

#u9028
{
	z-index: 154;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4263-4
{
	z-index: 156;
	width: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4258:hover #u4263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu4258.ButtonSelected #u4263-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 156px;
}

#u9173
{
	float: left;
}

#u9171
{
	z-index: 160;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu4258 #u4263-4
{
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u4260-6
{
	z-index: 162;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu4258:hover #u4260-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu4246
{
	z-index: 93;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4251
{
	z-index: 94;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_2.jpg") no-repeat left top;
}

#pbuttonu4246:hover #u4251
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u4251
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_2_2x.jpg");
	background-size: 360px 175px;
}

#u4249-4
{
	z-index: 95;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu4246:hover #u4249-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u4247-4
{
	z-index: 99;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4246:hover #u4247-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9033
{
	float: left;
}

#u9031
{
	z-index: 103;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4248-4
{
	z-index: 105;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4246:hover #u4248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u9176
{
	float: left;
}

#u9174
{
	z-index: 109;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4250-6
{
	z-index: 111;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu4246:hover #u4250-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu4264
{
	z-index: 170;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u4269
{
	z-index: 171;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_3.jpg") no-repeat left top;
}

#pbuttonu4264:hover #u4269
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u4269
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_3_2x.jpg");
	background-size: 360px 175px;
}

#u4267-4
{
	z-index: 172;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu4264:hover #u4267-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u4268-5
{
	z-index: 176;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4264:hover #u4268-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9039
{
	float: left;
}

#u9037
{
	z-index: 180;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u4266-4
{
	z-index: 183;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu4264:hover #u4266-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#u9021
{
	float: left;
	margin-top: 1px;
	margin-bottom: -1px;
}

#u9021:hover
{
	min-height: 0px;
	margin: 1px 0px -1px;
}

#u9019
{
	z-index: 187;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu4264 #u4266-4
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u4265-6
{
	z-index: 189;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu4264:hover #u4265-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#ppbuttonu4246,#ppbuttonu9064
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 41px;
}

#pbuttonu4276,#pbuttonu4246,#pbuttonu9064
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#buttonu9064
{
	z-index: 224;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u9066
{
	z-index: 225;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_4.jpg") no-repeat left top;
}

#pbuttonu9064:hover #u9066
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9066
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_4_2x.jpg");
	background-size: 360px 175px;
}

#u9065-4
{
	z-index: 226;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9064:hover #u9065-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u9067-4
{
	z-index: 230;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9064:hover #u9067-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u9068
{
	float: left;
}

#u9069
{
	z-index: 234;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u9071-5
{
	z-index: 236;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9064:hover #u9071-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#pbuttonu4276.ButtonSelected #u4281-4,#pbuttonu4246.ButtonSelected #u4248-4,#pbuttonu4264.ButtonSelected #u4266-4,#pbuttonu9064.ButtonSelected #u9071-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 123px;
}

#u9182
{
	float: left;
}

#u9180
{
	z-index: 240;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu4276 #u4281-4,#pbuttonu4246 #u4248-4,#pbuttonu9064 #u9071-5
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u9072-6
{
	z-index: 243;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9064:hover #u9072-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu4258,#pbuttonu4264,#pbuttonu9073
{
	width: 0.01px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-left: 389px;
}

#buttonu9073
{
	z-index: 251;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu4276:hover #buttonu4276,#pbuttonu4258:hover #buttonu4258,#pbuttonu4246:hover #buttonu4246,#pbuttonu4264:hover #buttonu4264,#pbuttonu9064:hover #buttonu9064,#pbuttonu9073:hover #buttonu9073
{
	width: 360px;
	height: 408px;
	-pie-box-shadow: 0px 0px 34px #B2B2B2;
	box-shadow: 0px 0px 34px rgba(0,0,0,0.3);
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u9078
{
	z-index: 252;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("https://mattbag.github.io/garagenerd/images/newspage_5.jpg") no-repeat left top;
}

#pbuttonu9073:hover #u9078
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

#pbuttonu4276.ButtonSelected #u4277,#pbuttonu4258.ButtonSelected #u4261,#pbuttonu4246.ButtonSelected #u4251,#pbuttonu4264.ButtonSelected #u4269,#pbuttonu9064.ButtonSelected #u9066,#pbuttonu9073.ButtonSelected #u9078
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 360px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u9078
{
	background-image: url("https://mattbag.github.io/garagenerd/images/newspage_5_2x.jpg");
	background-size: 360px 175px;
}

#pbuttonu4276 #u4277,#pbuttonu4258 #u4261,#pbuttonu4246 #u4251,#pbuttonu4264 #u4269,#pbuttonu9064 #u9066,#pbuttonu9073 #u9078
{
	position: relative;
	width: 360px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u9080-4
{
	z-index: 253;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu9073:hover #u9080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#pbuttonu4276.ButtonSelected #u4278-4,#pbuttonu4258.ButtonSelected #u4259-4,#pbuttonu4246.ButtonSelected #u4249-4,#pbuttonu4264.ButtonSelected #u4267-4,#pbuttonu9064.ButtonSelected #u9065-4,#pbuttonu9073.ButtonSelected #u9080-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 285px;
}

#pbuttonu4276 #u4278-4,#pbuttonu4258 #u4259-4,#pbuttonu4246 #u4249-4,#pbuttonu4264 #u4267-4,#pbuttonu9064 #u9065-4,#pbuttonu9073 #u9080-4
{
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 187px;
	left: 21px;
}

#u9074-4
{
	z-index: 257;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9073:hover #u9074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#pbuttonu4276.ButtonSelected #u4280-5,#pbuttonu4258.ButtonSelected #u4262-4,#pbuttonu4246.ButtonSelected #u4247-4,#pbuttonu4264.ButtonSelected #u4268-5,#pbuttonu9064.ButtonSelected #u9067-4,#pbuttonu9073.ButtonSelected #u9074-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
}

#u9075
{
	float: left;
}

#u9076
{
	z-index: 261;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu4276 #u4280-5,#pbuttonu4258 #u4262-4,#pbuttonu4246 #u4247-4,#pbuttonu4264 #u4268-5,#pbuttonu9064 #u9067-4,#pbuttonu9073 #u9074-4
{
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 21px;
}

#u9079-4
{
	z-index: 263;
	width: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu9073:hover #u9079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu9073.ButtonSelected #u9079-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 154px;
}

#u9170
{
	float: left;
}

#u9027:hover,#u9179:hover,#u9030:hover,#u9173:hover,#u9033:hover,#u9176:hover,#u9039:hover,#u9068:hover,#u9182:hover,#u9075:hover,#u9170:hover
{
	min-height: 0px;
	margin: 0px;
}

#u9168
{
	z-index: 267;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu9073 #u9079-4
{
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u9081-6
{
	z-index: 269;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu9073:hover #u9081-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu4276.ButtonSelected #u4279-6,#pbuttonu4258.ButtonSelected #u4260-6,#pbuttonu4246.ButtonSelected #u4250-6,#pbuttonu4264.ButtonSelected #u4265-6,#pbuttonu9064.ButtonSelected #u9072-6,#pbuttonu9073.ButtonSelected #u9081-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
	width: 315px;
}

#u4279-2,#u4260-2,#u4250-2,#u4265-2,#u9072-2,#u9081-2
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu4276 #u4279-6,#pbuttonu4258 #u4260-6,#pbuttonu4246 #u4250-6,#pbuttonu4264 #u4265-6,#pbuttonu9064 #u9072-6,#pbuttonu9073 #u9081-6
{
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 21px;
}

#ppbuttonu7959
{
	width: 0.01px;
	margin-left: 25px;
	margin-top: 70px;
}

#pbuttonu7959
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu7959
{
	z-index: 277;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

.Pages_Button_Normal
{
	border-width: 0px;
	border-color: #787878;
	background-color: #4778BA;
	border-radius: 1px;
}

#u7960-4
{
	z-index: 278;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu7959:hover #u7960-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu7959:hover #u7960-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu7966
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 38px;
}

#buttonu7966
{
	z-index: 284;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#u7967-4
{
	z-index: 285;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu7966:hover #u7967-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu7966:hover #u7967-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu7968
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 75px;
}

#buttonu7968
{
	z-index: 291;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu7959:hover #buttonu7959,#pbuttonu7966:hover #buttonu7966,#pbuttonu7968:hover #buttonu7968
{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 2px;
	border-color: #4778BA;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u7969-4
{
	z-index: 292;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu7968:hover #u7969-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu7959.ButtonSelected #u7960-4,#pbuttonu7966.ButtonSelected #u7967-4,#pbuttonu7968.ButtonSelected #u7969-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 18px;
}

#pbuttonu7968:hover #u7969-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu7959.ButtonSelected #u7960-4 p,#pbuttonu7966.ButtonSelected #u7967-4 p,#pbuttonu7968.ButtonSelected #u7969-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu7959 #u7960-4,#pbuttonu7966 #u7967-4,#pbuttonu7968 #u7969-4
{
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u24874
{
	z-index: 4;
	min-height: 233px;
	padding-bottom: 81px;
}

#u24895
{
	z-index: 71;
	width: 170px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 125px;
}

#u24896-4
{
	z-index: 72;
	width: 170px;
	position: relative;
	margin-right: -10000px;
}

#u24876
{
	z-index: 62;
	width: 245px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 420px;
}

#u24878-4
{
	z-index: 63;
	width: 228px;
	position: relative;
}

#u24877-4
{
	z-index: 67;
	width: 245px;
	margin-top: 16px;
	position: relative;
}

#u24879
{
	z-index: 13;
	width: 231px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 725px;
}

#u24893-4
{
	z-index: 14;
	width: 228px;
	position: relative;
}

#u24894-4
{
	z-index: 18;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu24880
{
	z-index: 22;
	width: 0.01px;
	height: 126px;
	margin-top: 4px;
	position: relative;
}

#widgetu24881
{
	z-index: 23;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu24881.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u24884-4
{
	z-index: 24;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24881:hover #u24884-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24888
{
	z-index: 28;
	width: 231px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu24888.fld-err-st
{
	width: 231px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u24889-4
{
	z-index: 29;
	width: 211px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24881.fld-err-st #u24884-4,#widgetu24888:hover #u24889-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24888.fld-err-st #u24889-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 211px;
	margin: 0px -10000px 0px 0px;
}

#widgetu24881_input,#widgetu24881_prompt,#widgetu24888_input,#widgetu24888_prompt
{
	width: 211px;
	min-height: 14px;
	padding: 10px;
}

#widgetu24881:hover #widgetu24881_input,#widgetu24881.fld-err-st #widgetu24881_input,#widgetu24881:hover #widgetu24881_prompt,#widgetu24881.fld-err-st #widgetu24881_prompt,#widgetu24888:hover #widgetu24888_input,#widgetu24888.fld-err-st #widgetu24888_input,#widgetu24888:hover #widgetu24888_prompt,#widgetu24888.fld-err-st #widgetu24888_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u24887-4
{
	z-index: 33;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u24886-4
{
	z-index: 37;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u24892-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu24880.frm-sub-st #u24887-4,#widgetu24880.frm-subm-err-st #u24886-4,#widgetu24880.frm-subm-ok-st #u24892-4
{
	min-height: 25px;
}

#u24885-17
{
	z-index: 45;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u24869
{
	z-index: 76;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 47px;
	left: 1031px;
}

#u24870-4
{
	z-index: 88;
	width: 214px;
	position: relative;
}

#u24871-11
{
	z-index: 77;
	width: 214px;
	min-height: 104px;
	margin-top: 13px;
	position: relative;
}

#u24874-bw
{
	z-index: 4;
	min-height: 233px;
	margin-top: 151px;
}

#u24875
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 12px;
}

#u26695_align_to_page,#u24874_align_to_page,#u24875_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u24873-4
{
	z-index: 5;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 125px;
}

#u24872-4
{
	z-index: 9;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 1017px;
}

#u24875-bw
{
	z-index: 3;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 36px;
	padding-bottom: 47px;
}

