.version.index /* version checker */
{
	color: #0000FD;
	background-color: #039A20;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 1705.6000000000004px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;/* should not cover content below */
}

#pu683
{
	width: 0.01px;
	padding-bottom: 492px;
	margin-left: -194px;
}

#u683
{
	z-index: 55;
	width: 468px;
	background-color: transparent;
	position: fixed;
	top: 14px;
	left: -94px;
}

#u184
{
	z-index: 57;
	height: 150px;
	position: fixed;
	top: 0px;
}

#u184-bw
{
	z-index: 57;
}

#pamphletu487
{
	z-index: 58;
	width: 0.01px;
	height: 126px;
	padding-bottom: 30px;
	position: fixed;
	top: 12px;
	left: 50%;
	margin-left: -236px;
}

#u490
{
	z-index: 59;
	width: 845px;
	position: relative;
	margin-right: -10000px;
	left: 75px;
}

#u491
{
	position: absolute;
	width: 119px;
	padding-bottom: 125px;
	top: 1px;
}

#u491:hover
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u491:active
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u491.PamphletThumbSelected
{
	width: 119px;
	min-height: 0px;
	margin: 0px;
}

#u1609
{
	z-index: 61;
	width: 105px;
	position: fixed;
	top: 22px;
	left: 50%;
	margin-left: -147px;
}

#u491:hover #u1609
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -147px;
}

#u491:active #u1609
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -147px;
}

#u491.PamphletThumbSelected #u1609
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -147px;
}

#u516
{
	z-index: 62;
}

#u493
{
	position: absolute;
	width: 114px;
	padding-bottom: 123px;
	left: 127px;
}

#u493:hover
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u493:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u493.PamphletThumbSelected
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#u1600
{
	z-index: 64;
	width: 105px;
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: -25px;
}

#u493:hover #u1600
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u493:active #u1600
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u493.PamphletThumbSelected #u1600
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px -25px;
}

#u513
{
	z-index: 65;
}

#u492
{
	position: absolute;
	width: 105px;
	padding-bottom: 117px;
	top: 5px;
	left: 255px;
}

#u492:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1636
{
	z-index: 67;
	width: 105px;
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: 94px;
}

#u492:hover #u1636
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 94px;
}

#u492.PamphletThumbSelected #u1636
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 94px;
}

#u519
{
	z-index: 68;
}

#u527
{
	position: absolute;
	width: 108px;
	padding-bottom: 120px;
	top: 4px;
	left: 375px;
}

#u527:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1627
{
	z-index: 70;
	width: 105px;
	position: fixed;
	top: 24px;
	left: 50%;
	margin-left: 214px;
}

#u527:hover #u1627
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 214px;
}

#u527.PamphletThumbSelected #u1627
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 214px;
}

#u415
{
	z-index: 71;
}

#u537
{
	position: absolute;
	width: 105px;
	padding-bottom: 117px;
	top: 5px;
	left: 497px;
}

#u492.PamphletThumbSelected,#u537:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1645
{
	z-index: 73;
	width: 105px;
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: 336px;
}

#u537:hover #u1645
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 336px;
}

#u537.PamphletThumbSelected #u1645
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 336px;
}

#u411
{
	z-index: 74;
}

#u540
{
	position: absolute;
	width: 108px;
	padding-bottom: 117px;
	top: 5px;
	left: 617px;
}

#u527.PamphletThumbSelected,#u540:hover
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u540.PamphletThumbSelected
{
	width: 108px;
	min-height: 0px;
	margin: 0px;
}

#u1618
{
	z-index: 76;
	width: 105px;
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: 459px;
}

#u540:hover #u1618
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 459px;
}

#u540.PamphletThumbSelected #u1618
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 459px;
}

#u417
{
	z-index: 77;
}

#u542
{
	position: absolute;
	width: 105px;
	padding-bottom: 117px;
	top: 5px;
	left: 740px;
}

#u537.PamphletThumbSelected,#u542:hover
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u542.PamphletThumbSelected
{
	width: 105px;
	min-height: 0px;
	margin: 0px;
}

#u1654
{
	z-index: 79;
	width: 105px;
	position: fixed;
	top: 23px;
	left: 50%;
	margin-left: 579px;
}

#u542:hover #u1654
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 579px;
}

#u542.PamphletThumbSelected #u1654
{
	width: 105px;
	min-height: 0px;
	margin: 0px 0px 0px 579px;
}

#u409
{
	z-index: 80;
}

#u494
{
	position: absolute;
	width: 962px;
	top: 88px;
}

#u494popup
{
	z-index: 81;
}

#u495
{
	z-index: 82;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u536-4
{
	z-index: 83;
	position: relative;
	margin-right: -10000px;
	left: 40px;
}

#u496
{
	z-index: 87;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u535-4
{
	z-index: 88;
	position: relative;
	margin-right: -10000px;
	left: 159px;
}

#u497
{
	z-index: 92;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u534-4
{
	z-index: 93;
	position: relative;
	margin-right: -10000px;
	left: 279px;
}

#u531
{
	z-index: 97;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u533-4
{
	z-index: 98;
	position: relative;
	margin-right: -10000px;
	left: 404px;
}

#u538
{
	z-index: 102;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u544-4
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	left: 523px;
}

#u541
{
	z-index: 107;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u545-4
{
	z-index: 108;
	position: relative;
	margin-right: -10000px;
	left: 643px;
}

#u543
{
	z-index: 112;
	width: 962px;
	height: 68px;
	margin-right: -10000px;
	position: relative;
}

#u546-4
{
	z-index: 113;
	position: relative;
	margin-right: -10000px;
	left: 760px;
}

#u154
{
	z-index: 118;
	width: 220px;
	position: fixed;
	top: 39px;
	left: 50%;
	margin-left: -560px;
}

#u154_states
{
	width: 220px;
	height: 72px;
}

#slideshowu112
{
	z-index: 26;
	width: 0.01px;
	height: 637px;
	left: -100px;
	top: -342px;
	margin-bottom: -342px;
	position: relative;
}

#u114
{
	position: absolute;
	width: 1480px;
	height: 637px;
	background-color: transparent;
}

#u114popup
{
	z-index: 27;
}

#u271
{
	z-index: 28;
	width: 1480px;
	height: 637px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u388
{
	z-index: 30;
	width: 1480px;
	height: 637px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u397
{
	z-index: 32;
	width: 1480px;
	height: 637px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u134
{
	position: absolute;
	width: 780px;
	background-color: transparent;
	top: 504px;
	left: 350px;
}

#u134popup
{
	z-index: 34;
}

#u277-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
	left: -1px;
}

#u394-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
	left: -1px;
}

#u403-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
	left: -1px;
}

#u131-4
{
	position: absolute;
	width: 45px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 1303px;
}

#u131-4popup
{
	z-index: 47;
}

#u132-4
{
	position: absolute;
	width: 45px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: 1368px;
}

#u131-4:hover,#u132-4:hover
{
	background-color: #ED1C24;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 45px;
	margin: 0px;
}

#u132-4popup
{
	z-index: 51;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("https://mattbag.github.io/pizzeria/images/loading.gif") no-repeat center center;
}

#u431
{
	z-index: 11;
	width: 1255px;
	height: 3px;
	border-color: #000000;
	background-color: #B51C24;
	margin-left: 13px;
	margin-top: 61px;
	position: relative;
}

#u432-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-left: 522px;
	margin-top: 43px;
	position: relative;
}

#u433-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	margin-left: 182px;
	margin-top: 20px;
	position: relative;
}

#u437
{
	z-index: 13;
	width: 300px;
	height: 3px;
	border-color: #000000;
	background-color: #B51C24;
	margin-left: 490px;
	margin-top: 39px;
	position: relative;
}

#u438-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-left: 267px;
	margin-top: 58px;
	position: relative;
}

#u439
{
	z-index: 12;
	width: 1255px;
	height: 3px;
	border-color: #000000;
	background-color: #B51C24;
	margin-left: 13px;
	margin-top: 70px;
	position: relative;
}

#u185
{
	z-index: 2;
	min-height: 139px;
	padding-bottom: 23px;
}

#u185_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1280px;
	left: -100px;
}

#u434-8
{
	z-index: 3;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	left: 878px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u185-bw
{
	z-index: 2;
	min-height: 139px;
	margin-top: 71px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1280px;
}

