#u5005
{
	border-style: solid;
	border-color: #FCEE21;
	border-width: 5px;
	background-color: transparent;
}

#u5008-4
{
	color: #FCEE21;
	text-transform: uppercase;
	background-color: transparent;
}

#u5766
{
	background-color: #000000;
}

#u5006-4,#u5007-4,#u5776-4,#u5779-4,#u5777-4,#u5778-4
{
	background-color: transparent;
}

#widgetu5769
{
	border-color: transparent;
	border-width: 0px;
	background-color: transparent;
}

#widgetu5769.fld-err-st
{
	border-radius: 0px;
	background-color: transparent;
}

#u5772-4
{
	border-style: solid;
	font-family: source-sans-pro, sans-serif;
	border-color: #FFFFFF;
	font-size: 20px;
	background-color: transparent;
	line-height: 24px;
	color: #FFFFFF;
	font-weight: 900;
	border-width: 0px 10px 10px 0px;
}

#widgetu5769.non-empty-st #u5772-4 *
{
	font-style: normal;
	color: #E96A36;
}

#widgetu5769.fld-err-st #u5772-4 *
{
	font-style: italic;
	color: #D7244C;
}

#widgetu5769_input,#widgetu5769_prompt
{
	font-family: source-sans-pro, sans-serif;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 900;
}

#widgetu5769.non-empty-st #widgetu5769_prompt
{
	visibility: hidden;
}

#u5775-4
{
	filter: alpha(opacity=0);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	line-height: 14px;
	opacity: 0;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	font-size: 12px;
	background-color: transparent;
}

#widgetu5767.frm-sub-st #u5775-4 p
{
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 14px;
	font-style: italic;
	line-height: 1;
}

#u5774-4
{
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	filter: alpha(opacity=0);
	background-color: transparent;
	line-height: 14px;
	opacity: 0;
	color: #FF0000;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#widgetu5767.frm-sub-st #u5775-4,#widgetu5767.frm-subm-err-st #u5774-4
{
	opacity: 1;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#widgetu5767.frm-subm-err-st #u5774-4 p
{
	color: #D7244C;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-size: 14px;
	font-style: italic;
	line-height: 1;
}

#u5768-4
{
	font-size: 12px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	filter: alpha(opacity=0);
	background-color: transparent;
	line-height: 12px;
	opacity: 0;
	color: #00FF00;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

#widgetu5767.frm-subm-ok-st #u5768-4
{
	border-style: solid;
	border-color: #E96A36;
	filter: alpha(opacity=100);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
	border-width: 4px;
}

#widgetu5767.frm-subm-ok-st #u5768-4 p
{
	color: #E96A36;
	font-size: 20px;
	font-weight: 900;
	text-align: center;
	font-style: normal;
	font-family: source-sans-pro, sans-serif;
}

#u5773-17
{
	background: url("https://mattbag.github.io/filmfest/images/u5773-17.png") no-repeat 0px 0px;
}

#u5773-17:hover
{
	background: url("https://mattbag.github.io/filmfest/images/u5773-17-r.png") no-repeat 0px 0px;
}

#u5773-17:active
{
	background: url("https://mattbag.github.io/filmfest/images/u5773-17-m.png") no-repeat 0px 0px;
}

#widgetu5767.frm-sub-st #u5773-17
{
	background: url("https://mattbag.github.io/filmfest/images/u5773-17-fs.png") no-repeat 0px 0px;
}

@media (min-width: 741px)
{
	#u8906
	{
		border-style: solid;
		border-color: #E3774C;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.8);
		border-width: 0px 0px 10px;
		-pie-background: rgba(255,255,255,0.8);
	}

	#u9439
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u8909-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8909-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	.nav-item
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		border-color: #000000;
		background-color: transparent;
		border-width: 0px 5px;
	}

	#u8907-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8907-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8908-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8908-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8909-4.MuseLinkActive,#u8907-4.MuseLinkActive,#u8908-4.MuseLinkActive
	{
		border-style: solid;
		border-color: #000000;
		border-width: 0px 5px;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 1200px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 701px) and (max-width: 740px)
{
	#u8906
	{
		border-style: solid;
		border-color: #E3774C;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.8);
		border-width: 0px 0px 10px;
		-pie-background: rgba(255,255,255,0.8);
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u9439
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u8909-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8909-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	.nav-item
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		border-color: #000000;
		background-color: transparent;
		border-width: 0px 5px;
	}

	#u8907-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8907-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8908-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8908-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8909-4.MuseLinkActive,#u8907-4.MuseLinkActive,#u8908-4.MuseLinkActive
	{
		border-style: solid;
		border-color: #000000;
		border-width: 0px 5px;
	}

	#u5766_align_to_page
	{
		max-width: 740px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 541px) and (max-width: 700px)
{
	#accordionu1525
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1534
	{
		background-color: transparent;
	}

	#u1535
	{
		vertical-align: top;
		background: url("https://mattbag.github.io/filmfest/images/u1535.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1535.AccordionPanelTabOpen
	{
		background: url("https://mattbag.github.io/filmfest/images/u1535-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1580_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1580:hover #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580.MuseLinkActive #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1578:hover #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578.MuseLinkActive #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580,#u1578,#u1579
	{
		vertical-align: top;
	}

	#u1579_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1579:hover #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1579.MuseLinkActive #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 700px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 421px) and (max-width: 540px)
{
	#accordionu1525
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1534
	{
		background-color: transparent;
	}

	#u1535
	{
		vertical-align: top;
		background: url("https://mattbag.github.io/filmfest/images/u1535.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1535.AccordionPanelTabOpen
	{
		background: url("https://mattbag.github.io/filmfest/images/u1535-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1580_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1580:hover #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580.MuseLinkActive #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1578:hover #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578.MuseLinkActive #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580,#u1578,#u1579
	{
		vertical-align: top;
	}

	#u1579_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1579:hover #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1579.MuseLinkActive #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 540px;
	}

	#u5006-4,#u5007-4,#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 20px;
		line-height: 24px;
	}

}

@media (max-width: 420px)
{
	#accordionu1525
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1534
	{
		background-color: transparent;
	}

	#u1535
	{
		vertical-align: top;
		background: url("https://mattbag.github.io/filmfest/images/u1535.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1535.AccordionPanelTabOpen
	{
		background: url("https://mattbag.github.io/filmfest/images/u1535-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1580_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1580:hover #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580.MuseLinkActive #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1578:hover #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578.MuseLinkActive #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580,#u1578,#u1579
	{
		vertical-align: top;
	}

	#u1579_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1579:hover #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1579.MuseLinkActive #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u5006-4,#u5007-4
	{
		font-size: 14px;
		line-height: 17px;
	}

	#u5008-4
	{
		font-size: 7px;
		line-height: 8px;
	}

	#u5766_align_to_page
	{
		max-width: 420px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 20px;
		line-height: 24px;
	}

}

@media (min-width: 985px)
{
	#u8906
	{
		border-style: solid;
		border-color: #E3774C;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.8);
		border-width: 0px 0px 10px;
		-pie-background: rgba(255,255,255,0.8);
	}

	#u9439
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u8909-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8909-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	.nav-item
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		border-color: #000000;
		background-color: transparent;
		border-width: 0px 5px;
	}

	#u8907-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8907-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8908-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8908-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8909-4.MuseLinkActive,#u8907-4.MuseLinkActive,#u8908-4.MuseLinkActive
	{
		border-style: solid;
		border-color: #000000;
		border-width: 0px 5px;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 1200px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 701px) and (max-width: 984px)
{
	#u8906
	{
		border-style: solid;
		border-color: #E3774C;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.8);
		border-width: 0px 0px 10px;
		-pie-background: rgba(255,255,255,0.8);
	}

	#u9439
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u8909-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8909-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	.nav-item
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		border-color: #000000;
		background-color: transparent;
		border-width: 0px 5px;
	}

	#u8907-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8907-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8908-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8908-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8909-4.MuseLinkActive,#u8907-4.MuseLinkActive,#u8908-4.MuseLinkActive
	{
		border-style: solid;
		border-color: #000000;
		border-width: 0px 5px;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 984px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 601px) and (max-width: 700px)
{
	#accordionu1525
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1534
	{
		background-color: transparent;
	}

	#u1535
	{
		vertical-align: top;
		background: url("https://mattbag.github.io/filmfest/images/u1535.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1535.AccordionPanelTabOpen
	{
		background: url("https://mattbag.github.io/filmfest/images/u1535-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1580_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1580:hover #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580.MuseLinkActive #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1578:hover #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578.MuseLinkActive #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580,#u1578,#u1579
	{
		vertical-align: top;
	}

	#u1579_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1579:hover #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1579.MuseLinkActive #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 700px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

@media (min-width: 541px) and (max-width: 600px)
{
	#accordionu1525
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u1534
	{
		background-color: transparent;
	}

	#u1535
	{
		vertical-align: top;
		background: url("https://mattbag.github.io/filmfest/images/u1535.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1535.AccordionPanelTabOpen
	{
		background: url("https://mattbag.github.io/filmfest/images/u1535-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1536
	{
		border-width: 0px;
		background-color: transparent;
	}

	#u1580_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1580:hover #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580.MuseLinkActive #u1580_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1580_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1578:hover #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1578.MuseLinkActive #u1578_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1578_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1580,#u1578,#u1579
	{
		vertical-align: top;
	}

	#u1579_states
	{
		float: left;
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states.png") no-repeat 5px 0px;
		background-size: contain;
	}

	#u1579:hover #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-r.png") no-repeat 0px 0px;
		background-size: contain;
	}

	#u1579.MuseLinkActive #u1579_states
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		background: url("https://mattbag.github.io/filmfest/images/u1579_states-a.png") no-repeat 0px 0px;
		background-size: contain;
	}

	.AccordionPanelTab /* accordion */
	{
		cursor: pointer;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 600px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}

}

