	#u8906
	{
		border-style: solid;
		border-color: #E3774C;
		background-color: #FFFFFF;
		background-color: rgba(255,255,255,0.8);
		border-width: 0px 0px 10px;
		-pie-background: rgba(255,255,255,0.8);
	}

	#u9439
	{
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
	}

	#u8909-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8909-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	.nav-item
	{
		-webkit-transition-duration: 0.3s;
		-webkit-transition-delay: 0s;
		-webkit-transition-timing-function: ease;
		-webkit-transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		transition-duration: 0.3s;
		transition-delay: 0s;
		transition-timing-function: ease;
		transition-property: background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
		border-color: #000000;
		background-color: transparent;
		border-width: 0px 5px;
	}

	#u8907-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8907-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8908-4
	{
		border-width: 0px;
		border-color: transparent;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		line-height: 24px;
		font-family: source-sans-pro, sans-serif;
		font-weight: 900;
	}

	#u8908-4:hover
	{
		border-style: solid;
		border-color: #EC885E;
		border-width: 0px 5px;
	}

	#u8909-4.MuseLinkActive,#u8907-4.MuseLinkActive,#u8908-4.MuseLinkActive
	{
		border-style: solid;
		border-color: #000000;
		border-width: 0px 5px;
	}

	#u5006-4,#u5007-4
	{
		font-size: 20px;
		line-height: 24px;
	}

	#u5008-4
	{
		font-size: 8px;
		line-height: 10px;
	}

	#u5766_align_to_page
	{
		max-width: 1200px;
	}

	#u5776-4,#u5779-4,#u5777-4,#u5778-4
	{
		font-size: 30px;
		line-height: 36px;
	}


