#u194
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u175
{
	background-color: #FFFFFF;
	background-color: rgba(255,255,255,0.4);
	position: fixed;
	-pie-background: rgba(255,255,255,0.4);
}

#u582-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 23px;
	text-align: center;
	position: fixed;
}

#u578-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 23px;
	text-align: center;
	position: fixed;
}

#u580-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 23px;
	text-align: center;
	position: fixed;
}

#u581-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 23px;
	text-align: center;
	position: fixed;
}

#u583-4
{
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	border-radius: 10px;
	line-height: 23px;
	text-align: center;
	position: fixed;
}

#u582-4:hover,#u578-4:hover,#u580-4:hover,#u581-4:hover,#u583-4:hover
{
	background-color: #FFFFFF;
}

.js #u583-4.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

