.version.index /* version checker */
{
	color: #000001;
	background-color: #2408D1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1280px;
	min-height: 8px;
	padding-bottom: 792px;
	margin-left: auto;
	margin-right: auto;
}

#home
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	left: -100px;
}

#u104
{
	z-index: 4;
	width: 1480px;
	position: fixed;
	top: 0px;
	left: -100px;
}

#u226
{
	z-index: 16;
	width: 1280px;
	position: fixed;
	top: 611px;
	left: 50%;
	margin-left: -640px;
}

#u182
{
	z-index: 2;
	width: 1483px;
	position: fixed;
	top: 809px;
	left: 1px;
}

#u182_clip
{
	overflow: hidden;
	width: 1483px;
	height: 810px;
}

#u232
{
	z-index: 18;
	width: 1096px;
	position: fixed;
	top: 383px;
	left: 92px;
}

#u151
{
	z-index: 46;
	width: 218px;
	position: fixed;
	top: 555px;
	left: 50%;
	margin-left: -530px;
}

#u164
{
	z-index: 48;
	width: 212px;
	position: fixed;
	top: 564px;
	left: 50%;
	margin-left: -332px;
}

#u331
{
	z-index: 21;
	width: 278px;
	position: fixed;
	top: 190px;
	left: 328px;
}

#slideshowu405
{
	z-index: 33;
	width: 0.01px;
	height: 142px;
	position: fixed;
	top: 205px;
	left: 345px;
}

#u421popup
{
	z-index: 34;
}

#u424
{
	z-index: 35;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u422
{
	z-index: 37;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u426
{
	z-index: 39;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("https://mattbag.github.io/project/images/loading.gif") no-repeat center center;
}

#u238
{
	z-index: 6;
	width: 423px;
	position: fixed;
	top: 0px;
	left: 429px;
}

#u189
{
	z-index: 50;
	width: 323px;
	position: fixed;
	top: 477px;
	left: 50%;
	margin-left: -162px;
}

#u244
{
	z-index: 41;
	width: 255px;
	height: 265px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: 320px;
	left: 512px;
}

#u351
{
	z-index: 23;
	width: 278px;
	position: fixed;
	top: 190px;
	left: 674px;
}

#slideshowu355
{
	z-index: 25;
	width: 0.01px;
	height: 142px;
	position: fixed;
	top: 205px;
	left: 690px;
}

#u421,#u366
{
	position: absolute;
	width: 245px;
	height: 142px;
	background-color: transparent;
}

#u366popup
{
	z-index: 26;
}

#u367
{
	z-index: 27;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u387
{
	z-index: 29;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u396
{
	z-index: 31;
	width: 245px;
	height: 142px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u424_clip,#u422_clip,#u426_clip,#u367_clip,#u387_clip,#u396_clip
{
	overflow: hidden;
	width: 245px;
	height: 142px;
}

#u424_img,#u422_img,#u426_img,#u367_img,#u387_img,#u396_img
{
	margin-top: -11px;
	margin-bottom: -10px;
}

#u495
{
	z-index: 8;
	width: 258px;
	position: fixed;
	top: 1047px;
	left: 710px;
}

#u146
{
	z-index: 42;
	width: 255px;
	position: fixed;
	top: 534px;
	left: 50%;
	margin-left: 188px;
}

#u513
{
	z-index: 10;
	width: 205px;
	-webkit-transform: matrix(-0.9976,-0.0698,0.0698,-0.9976,199,168);
	-ms-transform: matrix(-0.9976,-0.0698,0.0698,-0.9976,199,168);
	-o-transform: matrix(-0.9976,-0.0698,0.0698,-0.9976,199,168);
	transform: matrix(-0.9976,-0.0698,0.0698,-0.9976,199,168);
	position: fixed;
	top: 854px;
	left: 913px;
}

#u140
{
	z-index: 44;
	width: 141px;
	position: fixed;
	top: 597px;
	left: 50%;
	margin-left: 389px;
}

#u140_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u507
{
	z-index: 14;
	width: 270px;
	position: fixed;
	top: 1059px;
	left: 1083px;
}

#u104_img,#u495_img,#u507_img
{
	padding-bottom: 1px;
}

#u501
{
	z-index: 12;
	width: 176px;
	position: fixed;
	top: 1320px;
	left: 1144px;
}

#board
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 809px;
	left: 1258px;
}

body
{
	position: relative;
	min-width: 1280px;
}

#page .verticalspacer
{
	clear: both;
}

