.version.church_life /* version checker */
{
	color: #000008;
	background-color: #93DB49;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1401.8249999999998px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu5977
{
	width: 0.01px;
	padding-bottom: 101px;
}

#accordionu5977
{
	z-index: 372;
	width: 769px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u5978
{
	z-index: 373;
	width: 769px;
	position: relative;
}

#u6023-3
{
	z-index: 374;
	width: 759px;
	min-height: 91px;
	padding-left: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u6023-3.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 91px;
	width: 759px;
	margin: 0px;
}

#u5979
{
	z-index: 377;
	width: 769px;
	position: relative;
}

#u25377
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u25377:hover
{
	min-height: 17px;
	margin: 0px;
}

#u25377:active
{
	min-height: 17px;
	margin: 0px;
}

#u25380-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u25377:hover #u25380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u25377:active #u25380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5998
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u25377.MuseMenuActive,#u5998:hover
{
	min-height: 17px;
	margin: 0px;
}

#u5998:active
{
	min-height: 17px;
	margin: 0px;
}

#u6001-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u25377.MuseMenuActive #u25380-4,#u5998:hover #u6001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5998:active #u6001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6003
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u5998.MuseMenuActive,#u6003:active
{
	min-height: 17px;
	margin: 0px;
}

#u6006-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u5998.MuseMenuActive #u6001-4,#u6003:hover #u6006-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6003:active #u6006-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6012
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6003.MuseMenuActive,#u6012:active
{
	min-height: 17px;
	margin: 0px;
}

#u6013-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6003.MuseMenuActive #u6006-4,#u6012:hover #u6013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6012:active #u6013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6017
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6012.MuseMenuActive,#u6017:active
{
	min-height: 17px;
	margin: 0px;
}

#u6020-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6012.MuseMenuActive #u6013-4,#u6017:hover #u6020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6017:active #u6020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5982
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6017.MuseMenuActive,#u5982:active
{
	min-height: 17px;
	margin: 0px;
}

#u5983-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6017.MuseMenuActive #u6020-4,#u5982:hover #u5983-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5982:active #u5983-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17089
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u5982.MuseMenuActive,#u17089:active
{
	min-height: 17px;
	margin: 0px;
}

#u17090-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u5982.MuseMenuActive #u5983-4,#u17089:hover #u17090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17089:active #u17090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u17089.MuseMenuActive,#u5989:active
{
	min-height: 17px;
	margin: 0px;
}

#u5989.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u5991-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u17089.MuseMenuActive #u17090-4,#u5989:hover #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989:active #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989.MuseMenuActive #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu5980,#menuu5980-bw
{
	z-index: 378;
	min-height: 589px;
}

#u6046
{
	z-index: 428;
	width: 127px;
	height: 43px;
	position: fixed;
	top: 18px;
	left: 64px;
}

#u6096
{
	z-index: 427;
	width: 216px;
	height: 73px;
	margin-left: 64px;
	top: -88px;
	margin-bottom: -73px;
	position: relative;
}

#u6305
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 53px;
}

#u6395
{
	z-index: 359;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 64px;
}

#u6396-4
{
	z-index: 360;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u6397-4
{
	z-index: 364;
	width: 228px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u6398-4
{
	z-index: 368;
	width: 227px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 477px;
}

#u6305-bw
{
	z-index: 2;
	min-height: 97px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#pppbuttonu10538
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 75px;
}

#ppbuttonu10538
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#pbuttonu10538
{
	width: 0.01px;
}

#buttonu10538
{
	z-index: 180;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u10541
{
	z-index: 181;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_4.jpg") no-repeat left top;
}

#pbuttonu10538:hover #u10541
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10541
{
	background-image: url("../../images/newspage_4_2x.jpg");
	background-size: 360px 175px;
}

#u10540-4
{
	z-index: 182;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10538:hover #u10540-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u10542-4
{
	z-index: 186;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10538:hover #u10542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u10543
{
	float: left;
}

#u10544
{
	z-index: 190;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10546-5
{
	z-index: 192;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10538:hover #u10546-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u10547
{
	float: left;
}

#u10548
{
	z-index: 196;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10539-6
{
	z-index: 199;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10538:hover #u10539-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu10550
{
	z-index: 207;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u10560
{
	z-index: 208;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_5.jpg") no-repeat left top;
}

#pbuttonu10550:hover #u10560
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10560
{
	background-image: url("../../images/newspage_5_2x.jpg");
	background-size: 360px 175px;
}

#u10561-4
{
	z-index: 209;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10550:hover #u10561-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u10556-4
{
	z-index: 213;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10550:hover #u10556-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u10557
{
	float: left;
}

#u10558
{
	z-index: 217;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10551-4
{
	z-index: 219;
	width: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10550:hover #u10551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu10550.ButtonSelected #u10551-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 154px;
}

#u10552
{
	float: left;
}

#u10553
{
	z-index: 223;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu10550 #u10551-4
{
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u10555-6
{
	z-index: 225;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10550:hover #u10555-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu10550,#pbuttonu10562
{
	width: 0.01px;
	margin-top: 40px;
}

#buttonu10562
{
	z-index: 233;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u10564
{
	z-index: 234;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_2.jpg") no-repeat left top;
}

#pbuttonu10562:hover #u10564
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10564
{
	background-image: url("../../images/newspage_2_2x.jpg");
	background-size: 360px 175px;
}

#u10573-4
{
	z-index: 235;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10562:hover #u10573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u10569-4
{
	z-index: 239;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10562:hover #u10569-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u10570
{
	float: left;
}

#u10571
{
	z-index: 243;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10565-4
{
	z-index: 245;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10562:hover #u10565-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u10566
{
	float: left;
}

#u10567
{
	z-index: 249;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10563-6
{
	z-index: 251;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10562:hover #u10563-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#u10520
{
	z-index: 145;
	width: 256px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u10524-4
{
	z-index: 146;
	width: 179px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	position: relative;
}

#u10525-4
{
	z-index: 154;
	width: 255px;
	min-height: 85px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u10532
{
	z-index: 178;
	width: 255px;
	min-height: 754px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 22px;
	position: relative;
}

#u10535-4
{
	z-index: 150;
	width: 179px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 56px;
	position: relative;
}

#pu10526
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 7px;
}

#u10526
{
	z-index: 174;
	width: 19px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10537-4
{
	z-index: 158;
	width: 137px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u10530
{
	z-index: 175;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10521-4
{
	z-index: 162;
	width: 224px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu10530,#pu10522
{
	width: 0.01px;
	margin-top: 9px;
}

#u10522
{
	z-index: 176;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10536-4
{
	z-index: 166;
	width: 224px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu10528
{
	width: 0.01px;
	margin-top: 7px;
}

#u10528
{
	z-index: 177;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10534-4
{
	z-index: 170;
	width: 224px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u10537-2,#u10521-2,#u10536-2,#u10534-2
{
	font-family: lato, sans-serif;
}

#pbuttonu10574
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 42px;
}

#buttonu10574
{
	z-index: 259;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u10575
{
	z-index: 260;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_3.jpg") no-repeat left top;
}

#pbuttonu10574:hover #u10575
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10575
{
	background-image: url("../../images/newspage_3_2x.jpg");
	background-size: 360px 175px;
}

#u10576-4
{
	z-index: 261;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10574:hover #u10576-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u10582-5
{
	z-index: 265;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10574:hover #u10582-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u10583
{
	float: left;
}

#u10584
{
	z-index: 269;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10578-4
{
	z-index: 272;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10574:hover #u10578-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#u10579
{
	float: left;
	margin-top: 1px;
	margin-bottom: -1px;
}

#u10579:hover
{
	min-height: 0px;
	margin: 1px 0px -1px;
}

#u10580
{
	z-index: 276;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu10574 #u10578-4
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u10577-6
{
	z-index: 278;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10574:hover #u10577-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu10586
{
	z-index: 286;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u10588
{
	z-index: 287;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_1.jpg") no-repeat left top;
}

#pbuttonu10586:hover #u10588
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10588
{
	background-image: url("../../images/newspage_1_2x.jpg");
	background-size: 360px 175px;
}

#u10589-4
{
	z-index: 288;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10586:hover #u10589-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u10590-5
{
	z-index: 292;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10586:hover #u10590-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u10591
{
	float: left;
}

#u10592
{
	z-index: 297;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u10594-4
{
	z-index: 299;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10586:hover #u10594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#pbuttonu10538.ButtonSelected #u10546-5,#pbuttonu10562.ButtonSelected #u10565-4,#pbuttonu10574.ButtonSelected #u10578-4,#pbuttonu10586.ButtonSelected #u10594-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 123px;
}

#u10595
{
	float: left;
}

#u10596
{
	z-index: 303;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu10538 #u10546-5,#pbuttonu10562 #u10565-4,#pbuttonu10586 #u10594-4
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u10587-6
{
	z-index: 305;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10586:hover #u10587-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu10586,#pbuttonu10598
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 40px;
}

#buttonu10598
{
	z-index: 313;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu10538:hover #buttonu10538,#pbuttonu10550:hover #buttonu10550,#pbuttonu10562:hover #buttonu10562,#pbuttonu10574:hover #buttonu10574,#pbuttonu10586:hover #buttonu10586,#pbuttonu10598:hover #buttonu10598
{
	width: 360px;
	height: 408px;
	-pie-box-shadow: 0px 0px 34px #B2B2B2;
	box-shadow: 0px 0px 34px rgba(0,0,0,0.3);
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u10607
{
	z-index: 314;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: #7F7F7F url("../../images/newspage_6.jpg") no-repeat left top;
}

#pbuttonu10598:hover #u10607
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

#pbuttonu10538.ButtonSelected #u10541,#pbuttonu10550.ButtonSelected #u10560,#pbuttonu10562.ButtonSelected #u10564,#pbuttonu10574.ButtonSelected #u10575,#pbuttonu10586.ButtonSelected #u10588,#pbuttonu10598.ButtonSelected #u10607
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 360px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u10607
{
	background-image: url("../../images/newspage_6_2x.jpg");
	background-size: 360px 175px;
}

#pbuttonu10538 #u10541,#pbuttonu10550 #u10560,#pbuttonu10562 #u10564,#pbuttonu10574 #u10575,#pbuttonu10586 #u10588,#pbuttonu10598 #u10607
{
	position: relative;
	width: 360px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u10609-4
{
	z-index: 315;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10598:hover #u10609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#pbuttonu10538.ButtonSelected #u10540-4,#pbuttonu10550.ButtonSelected #u10561-4,#pbuttonu10562.ButtonSelected #u10573-4,#pbuttonu10574.ButtonSelected #u10576-4,#pbuttonu10586.ButtonSelected #u10589-4,#pbuttonu10598.ButtonSelected #u10609-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 285px;
}

#pbuttonu10538 #u10540-4,#pbuttonu10550 #u10561-4,#pbuttonu10562 #u10573-4,#pbuttonu10574 #u10576-4,#pbuttonu10586 #u10589-4,#pbuttonu10598 #u10609-4
{
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 187px;
	left: 21px;
}

#u10599-4
{
	z-index: 319;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10598:hover #u10599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#pbuttonu10538.ButtonSelected #u10542-4,#pbuttonu10550.ButtonSelected #u10556-4,#pbuttonu10562.ButtonSelected #u10569-4,#pbuttonu10574.ButtonSelected #u10582-5,#pbuttonu10586.ButtonSelected #u10590-5,#pbuttonu10598.ButtonSelected #u10599-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
}

#u10600
{
	float: left;
}

#u10601
{
	z-index: 323;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu10538 #u10542-4,#pbuttonu10550 #u10556-4,#pbuttonu10562 #u10569-4,#pbuttonu10574 #u10582-5,#pbuttonu10586 #u10590-5,#pbuttonu10598 #u10599-4
{
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 21px;
}

#u10603-4
{
	z-index: 325;
	width: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu10598:hover #u10603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu10598.ButtonSelected #u10603-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 156px;
}

#u10604
{
	float: left;
}

#u10543:hover,#u10547:hover,#u10557:hover,#u10552:hover,#u10570:hover,#u10566:hover,#u10583:hover,#u10591:hover,#u10595:hover,#u10600:hover,#u10604:hover
{
	min-height: 0px;
	margin: 0px;
}

#u10605
{
	z-index: 329;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu10598 #u10603-4
{
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u10608-6
{
	z-index: 331;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu10598:hover #u10608-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu10538.ButtonSelected #u10539-6,#pbuttonu10550.ButtonSelected #u10555-6,#pbuttonu10562.ButtonSelected #u10563-6,#pbuttonu10574.ButtonSelected #u10577-6,#pbuttonu10586.ButtonSelected #u10587-6,#pbuttonu10598.ButtonSelected #u10608-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
	width: 315px;
}

#u10539-2,#u10555-2,#u10563-2,#u10577-2,#u10587-2,#u10608-2
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu10538 #u10539-6,#pbuttonu10550 #u10555-6,#pbuttonu10562 #u10563-6,#pbuttonu10574 #u10577-6,#pbuttonu10586 #u10587-6,#pbuttonu10598 #u10608-6
{
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 21px;
}

#ppbuttonu10610
{
	width: 0.01px;
	margin-left: 332px;
	margin-top: 110px;
}

#pbuttonu10610
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu10610
{
	z-index: 339;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

.Pages_Button_Normal
{
	border-width: 0px;
	border-color: #787878;
	background-color: #4778BA;
	border-radius: 1px;
}

#u10611-4
{
	z-index: 340;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu10610:hover #u10611-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu10610:hover #u10611-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu10612
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 38px;
}

#buttonu10612
{
	z-index: 346;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#u10613-4
{
	z-index: 347;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu10612:hover #u10613-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu10612:hover #u10613-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu10614
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 75px;
}

#buttonu10614
{
	z-index: 353;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu10610:hover #buttonu10610,#pbuttonu10612:hover #buttonu10612,#pbuttonu10614:hover #buttonu10614
{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 2px;
	border-color: #4778BA;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u10615-4
{
	z-index: 354;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu10614:hover #u10615-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu10610.ButtonSelected #u10611-4,#pbuttonu10612.ButtonSelected #u10613-4,#pbuttonu10614.ButtonSelected #u10615-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 18px;
}

#pbuttonu10614:hover #u10615-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu10610.ButtonSelected #u10611-4 p,#pbuttonu10612.ButtonSelected #u10613-4 p,#pbuttonu10614.ButtonSelected #u10615-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu10610 #u10611-4,#pbuttonu10612 #u10613-4,#pbuttonu10614 #u10615-4
{
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u6039
{
	z-index: 4;
	min-height: 499px;
	padding-bottom: 71px;
}

#pu14360
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 64px;
}

#u14360
{
	z-index: 9;
	width: 256px;
	padding-bottom: 0px;
	position: relative;
}

#u6038-4
{
	z-index: 10;
	width: 228px;
	position: relative;
}

#u6042-4
{
	z-index: 14;
	width: 256px;
	margin-top: 12px;
	position: relative;
}

#u14344
{
	z-index: 76;
	width: 256px;
	margin-top: 102px;
	position: relative;
}

#u14345-4
{
	z-index: 77;
	width: 228px;
	position: relative;
}

#u14346-4
{
	z-index: 81;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu14347
{
	z-index: 85;
	width: 0.01px;
	height: 126px;
	margin-top: 12px;
	position: relative;
}

#widgetu14356
{
	z-index: 86;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu14356.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u14359-4
{
	z-index: 87;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14356:hover #u14359-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14348
{
	z-index: 91;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu14348.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u14350-4
{
	z-index: 92;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14356.fld-err-st #u14359-4,#widgetu14348:hover #u14350-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14348.fld-err-st #u14350-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14356_input,#widgetu14356_prompt,#widgetu14348_input,#widgetu14348_prompt
{
	width: 236px;
	min-height: 14px;
	padding: 10px;
}

#widgetu14356:hover #widgetu14356_input,#widgetu14356.fld-err-st #widgetu14356_input,#widgetu14356:hover #widgetu14356_prompt,#widgetu14356.fld-err-st #widgetu14356_prompt,#widgetu14348:hover #widgetu14348_input,#widgetu14348.fld-err-st #widgetu14348_input,#widgetu14348:hover #widgetu14348_prompt,#widgetu14348.fld-err-st #widgetu14348_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14355-4
{
	z-index: 96;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14352-4
{
	z-index: 100;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14353-4
{
	z-index: 104;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14347.frm-sub-st #u14355-4,#widgetu14347.frm-subm-err-st #u14352-4,#widgetu14347.frm-subm-ok-st #u14353-4
{
	min-height: 25px;
}

#u14354-17
{
	z-index: 108;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#pu14361
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 448px;
}

#u14361
{
	z-index: 22;
	width: 256px;
	padding-bottom: 0px;
	position: relative;
}

#u6047-4
{
	z-index: 23;
	width: 228px;
	position: relative;
}

#menuu6049
{
	z-index: 27;
	width: 256px;
	margin-top: 12px;
	position: relative;
}

#u25335
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u25337-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6067
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6070-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6051
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6052-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6058
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6059-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6074
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6077-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6086
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6089-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u17096
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u17099-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u25334,#u6064,#u6050,#u6057,#u6071,#u6085,#u17093,#u6078
{
	width: 256px;
	position: relative;
}

#u6079
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u25335.MuseMenuActive,#u6067.MuseMenuActive,#u6051.MuseMenuActive,#u6058.MuseMenuActive,#u6074.MuseMenuActive,#u6086.MuseMenuActive,#u17096.MuseMenuActive,#u6079.MuseMenuActive
{
	width: 256px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6082-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u25335.MuseMenuActive #u25337-4,#u6067.MuseMenuActive #u6070-4,#u6051.MuseMenuActive #u6052-4,#u6058.MuseMenuActive #u6059-4,#u6074.MuseMenuActive #u6077-4,#u6086.MuseMenuActive #u6089-4,#u17096.MuseMenuActive #u17099-4,#u6079.MuseMenuActive #u6082-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 256px;
	margin: 0px -10000px 0px 0px;
}

#u17575
{
	z-index: 125;
	width: 216px;
	padding-bottom: 0px;
	margin-top: 84px;
	position: relative;
}

#u17581-4
{
	z-index: 137;
	width: 214px;
	margin-left: 2px;
	position: relative;
}

#u17576-11
{
	z-index: 126;
	width: 214px;
	min-height: 104px;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#pu17584
{
	width: 0.01px;
	margin-top: -8px;
}

#u17584
{
	z-index: 141;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u17579
{
	z-index: 142;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u17577
{
	z-index: 143;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17582
{
	z-index: 144;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u6039-bw
{
	z-index: 4;
	min-height: 499px;
	margin-top: 75px;
}

#u6044
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 12px;
}

#u6043-4
{
	z-index: 5;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 25px;
}

#u6092-4
{
	z-index: 18;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 501px;
}

#u6044-bw
{
	z-index: 3;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
	padding-bottom: 47px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

