.version.index /* version checker */
{
	color: #0000FC;
	background-color: #14CAAF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1402px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#pu26721
{
	width: 0.01px;
}

#u26721
{
	z-index: 86;
	min-height: 178.64999999999998px;
	background-color: #4778BA;
	padding: 347px 128px 67.35000000000002px 120px;
}

#u26738
{
	z-index: 95;
	width: 326px;
	background-color: transparent;
	margin-left: 101px;
	position: relative;
}

#u26141-6
{
	z-index: 89;
	width: 520px;
	min-height: 77px;
	background-color: transparent;
	color: #292929;
	line-height: 24px;
	text-align: center;
	font-size: 20px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-top: 32px;
	position: relative;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u26721-bw
{
	z-index: 86;
	min-height: 178.64999999999998px;
	margin-top: 175px;
}

#u26715
{
	z-index: 87;
	height: 175px;
	-pie-box-shadow: 0px 8px 8px #B2B2B2;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
	background-color: #363636;
}

#u26715-bw
{
	z-index: 87;
	height: 175px;
}

#u25751
{
	z-index: 88;
	width: 405px;
	height: 431px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 182px;
	background: transparent url("../../images/nerd-band.png") no-repeat center center;
	background-size: contain;
}

.Big-Logo
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/logo.png") no-repeat center center;
}

.hidpi .Big-Logo
{
	background-image: url("../../images/logo_2x.png");
	background-size: 216px 73px;
}

#u25761
{
	z-index: 3;
	min-height: 499px;
	padding-bottom: 71px;
}

#pu25828
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 64px;
}

#u25828
{
	z-index: 8;
	width: 256px;
	padding-bottom: 0px;
	position: relative;
}

#u25830-4
{
	z-index: 9;
	width: 228px;
	position: relative;
}

#u25829-4
{
	z-index: 13;
	width: 256px;
	margin-top: 12px;
	position: relative;
}

#u25831
{
	z-index: 21;
	width: 256px;
	margin-top: 102px;
	position: relative;
}

#u25832-4
{
	z-index: 22;
	width: 228px;
	position: relative;
}

#u25846-4
{
	z-index: 26;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu25833
{
	z-index: 30;
	width: 0.01px;
	height: 126px;
	margin-top: 12px;
	position: relative;
}

#widgetu25840
{
	z-index: 31;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu25840.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u25842-4
{
	z-index: 32;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu25840:hover #u25842-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu25836
{
	z-index: 36;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu25836.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u25837-4
{
	z-index: 37;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu25840.fld-err-st #u25842-4,#widgetu25836:hover #u25837-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu25836.fld-err-st #u25837-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu25840_input,#widgetu25840_prompt,#widgetu25836_input,#widgetu25836_prompt
{
	width: 236px;
	min-height: 14px;
	padding: 10px;
}

#widgetu25840:hover #widgetu25840_input,#widgetu25840.fld-err-st #widgetu25840_input,#widgetu25840:hover #widgetu25840_prompt,#widgetu25840.fld-err-st #widgetu25840_prompt,#widgetu25836:hover #widgetu25836_input,#widgetu25836.fld-err-st #widgetu25836_input,#widgetu25836:hover #widgetu25836_prompt,#widgetu25836.fld-err-st #widgetu25836_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u25844-4
{
	z-index: 41;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u25835-4
{
	z-index: 45;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u25834-4
{
	z-index: 49;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu25833.frm-sub-st #u25844-4,#widgetu25833.frm-subm-err-st #u25835-4,#widgetu25833.frm-subm-ok-st #u25834-4
{
	min-height: 25px;
}

#u25845-17
{
	z-index: 53;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u25821
{
	z-index: 70;
	width: 214px;
	position: relative;
	margin-right: -10000px;
	margin-top: 314px;
	left: 450px;
}

#u25823-4
{
	z-index: 82;
	width: 214px;
	position: relative;
}

#u25822-11
{
	z-index: 71;
	width: 214px;
	min-height: 104px;
	margin-top: 13px;
	position: relative;
}

#u25761-bw
{
	z-index: 3;
	min-height: 499px;
	margin-top: 75px;
}

#u25760
{
	z-index: 2;
	min-height: 35px;
	padding-bottom: 12px;
}

#u25847-4
{
	z-index: 4;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 25px;
}

#u25848-4
{
	z-index: 17;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 501px;
}

#u25760-bw
{
	z-index: 2;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
	padding-bottom: 47px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

