#accordionu5977
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u6023-3
{
	border-color: #FFFFFF;
	color: #999999;
	line-height: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	background: #495054 url("../../images/tablet_menu.png") no-repeat right center;
}

#u6023-3.AccordionPanelTabOpen
{
	background-repeat: no-repeat;
	background-position: right center;
	border-width: 0px;
	border-color: transparent;
}

.hidpi #u6023-3
{
	background-image: url("../../images/tablet_menu_2x.png");
	background-size: 191px 73px;
}

#u25377
{
	background-color: #495054;
}

#u25377:hover
{
	background-color: #495054;
}

#u25377:active
{
	background-color: #535A5E;
}

#u25380-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u25377:hover #u25380-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u25377:active #u25380-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u25377.MuseMenuActive,#u5998
{
	background-color: #495054;
}

#u5998:hover
{
	background-color: #495054;
}

#u5998:active
{
	background-color: #535A5E;
}

#u6001-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u25377.MuseMenuActive #u25380-4 p,#u5998:hover #u6001-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5998:active #u6001-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5998.MuseMenuActive,#u6003
{
	background-color: #495054;
}

#u6003:active
{
	background-color: #535A5E;
}

#u6006-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u5998.MuseMenuActive #u6001-4 p,#u6003:hover #u6006-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6003:active #u6006-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6003.MuseMenuActive,#u6012
{
	background-color: #495054;
}

#u6012:active
{
	background-color: #535A5E;
}

#u6013-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u6003.MuseMenuActive #u6006-4 p,#u6012:hover #u6013-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6012:active #u6013-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6012.MuseMenuActive,#u6017
{
	background-color: #495054;
}

#u6017:active
{
	background-color: #535A5E;
}

#u6020-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u6012.MuseMenuActive #u6013-4 p,#u6017:hover #u6020-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6017:active #u6020-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u6017.MuseMenuActive,#u5982
{
	background-color: #495054;
}

#u5982:active
{
	background-color: #535A5E;
}

#u5983-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u6017.MuseMenuActive #u6020-4 p,#u5982:hover #u5983-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5982:active #u5983-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5982.MuseMenuActive,#u17089
{
	background-color: #495054;
}

#u17089:active
{
	background-color: #535A5E;
}

#u17090-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u5982.MuseMenuActive #u5983-4 p,#u17089:hover #u17090-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u17089:active #u17090-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u17089.MuseMenuActive,#u5989
{
	background-color: #495054;
}

#u5989:active
{
	background-color: #535A5E;
}

#u5989.MuseMenuActive
{
	background-color: #495054;
}

#u5991-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 17px;
}

#u17089.MuseMenuActive #u17090-4 p,#u5989:hover #u5991-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5989:active #u5991-4 p
{
	color: #4778BA;
	visibility: inherit;
}

#u5989.MuseMenuActive #u5991-4 p
{
	color: #4778BA;
	visibility: inherit;
}

.MenuItem,.AccordionPanelTab /* unifiedNavBar */
{
	cursor: pointer;
}

#u6046
{
	background: transparent url("../../images/logo_small.png") no-repeat center center;
	background-size: cover;
}

.Small-Logo
{
	border-width: 0px;
	border-color: #000000;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	background: transparent url("../../images/logo_small.png") no-repeat center center;
	background-size: cover;
}

.hidpi .Small-Logo,.hidpi #u6046
{
	background-image: url("../../images/logo_small_2x.png");
}

.js #u6046.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6096
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
}

.Big-Logo
{
	border-width: 0px;
	border-color: #000000;
	background: transparent url("../../images/logo.png") no-repeat center center;
}

.hidpi .Big-Logo
{
	background-image: url("../../images/logo_2x.png");
	background-size: 216px 73px;
}

#u6305
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/header_image.jpg") no-repeat center center;
	background-size: cover;
}

#u6039
{
	border-color: #000000;
	background-color: #363636;
}

#u5979,#menuu5980,#u14360,#u14344,#widgetu14356
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u14359-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu14356:hover #u14359-4
{
	border-color: #BFC7D3;
}

.Footer-Form-Normal
{
	border-width: 0px;
	border-color: #BFC7D3;
	background-color: #282828;
	border-radius: 5px;
}

#widgetu14356.non-empty-st #u14359-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu14356:hover #u14359-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu14348
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu14356.fld-err-st,#widgetu14348.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u14350-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu14348:hover #u14350-4
{
	border-color: #BFC7D3;
}

#widgetu14356.fld-err-st #u14359-4,#widgetu14348.fld-err-st #u14350-4
{
	border-color: #D7244C;
}

#widgetu14348.non-empty-st #u14350-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu14348:hover #u14350-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu14356.fld-err-st #u14359-4 *,#widgetu14348.fld-err-st #u14350-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu14356_input,#widgetu14356_prompt,#widgetu14348_input,#widgetu14348_prompt
{
	color: #636363;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu14356.non-empty-st #widgetu14356_prompt,#widgetu14348.non-empty-st #widgetu14348_prompt
{
	visibility: hidden;
}

#u14355-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu14347.frm-sub-st #u14355-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14352-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu14347.frm-subm-err-st #u14352-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14353-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

.js #u6096.ose_pre_init,#widgetu14347.frm-sub-st #u14355-4,#widgetu14347.frm-subm-err-st #u14352-4,#widgetu14347.frm-subm-ok-st #u14353-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu14347.frm-subm-ok-st #u14353-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u14354-17
{
	background: url("../../images/u14354-17.png") no-repeat 0px 0px;
}

#u14354-17:hover
{
	background: url("../../images/u14354-17-r.png") no-repeat 0px 0px;
}

#u14354-17:active
{
	background: url("../../images/u14354-17-m.png") no-repeat 0px 0px;
}

#widgetu14347.frm-sub-st #u14354-17
{
	background: url("../../images/u14354-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u14354-17
{
	background-image: url("../../images/u14354-17_2x.png");
	background-size: 130px 30px;
}

.hidpi #u14354-17:hover
{
	background-image: url("../../images/u14354-17-r_2x.png");
	background-size: 130px 30px;
}

.hidpi #u14354-17:active
{
	background-image: url("../../images/u14354-17-m_2x.png");
	background-size: 130px 30px;
}

.hidpi #widgetu14347.frm-sub-st #u14354-17
{
	background-image: url("../../images/u14354-17-fs_2x.png");
	background-size: 130px 30px;
}

#u6038-4,#u6042-4,#u14345-4,#u6047-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u25335
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u25335::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u25337-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6067
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6067::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6070-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6051
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6051::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6052-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6058
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6058::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6059-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6074
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6074::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6077-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6086
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6086::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6089-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u17096
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u17096::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u17099-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u5978,#u25376,#u5995,#u6002,#u6009,#u6016,#u5981,#u17086,#u5988,#u25334,#u6064,#u6050,#u6057,#u6071,#u6085,#u17093,#u6078
{
	background-color: transparent;
}

#u6079
{
	border-style: solid;
	border-color: #282828;
	background-color: transparent;
	border-width: 0px 0px 1px;
}

#u6079::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: -1px;
	right: 0px;
	box-shadow: inset 1px 4px 2px rgba(255,255,255,0.75), inset -1px -4px 2px rgba(0,0,0,0.75);
}

#u6082-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #999999;
	text-align: left;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u14361,#menuu6049,#u17575
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u17581-4
{
	background-color: transparent;
	color: #969696;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u17584,#u17579,#u17577,#u17582
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #969696;
	font-size: 32px;
	text-align: center;
	line-height: 38px;
	font-weight: bold;
}

#u6044
{
	border-width: 0px;
	border-color: transparent;
	background-color: #292929;
}

#u14346-4,#u17576-11,#u6043-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u6092-4
{
	background-color: transparent;
	color: #999999;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 300;
}


