#u25761
{
	border-color: #000000;
	background-color: #363636;
}

#u25830-4,#u25829-4,#u25832-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u25828,#u25831,#widgetu25840
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u25842-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu25840:hover #u25842-4
{
	border-color: #BFC7D3;
}

.Footer-Form-Normal
{
	border-width: 0px;
	border-color: #BFC7D3;
	background-color: #282828;
	border-radius: 5px;
}

#widgetu25840.non-empty-st #u25842-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu25840:hover #u25842-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu25836
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu25840.fld-err-st,#widgetu25836.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u25837-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu25836:hover #u25837-4
{
	border-color: #BFC7D3;
}

#widgetu25840.fld-err-st #u25842-4,#widgetu25836.fld-err-st #u25837-4
{
	border-color: #D7244C;
}

#widgetu25836.non-empty-st #u25837-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu25836:hover #u25837-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu25840.fld-err-st #u25842-4 *,#widgetu25836.fld-err-st #u25837-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu25840_input,#widgetu25840_prompt,#widgetu25836_input,#widgetu25836_prompt
{
	color: #636363;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu25840.non-empty-st #widgetu25840_prompt,#widgetu25836.non-empty-st #widgetu25836_prompt
{
	visibility: hidden;
}

#u25844-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu25833.frm-sub-st #u25844-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u25835-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu25833.frm-subm-err-st #u25835-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u25834-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu25833.frm-sub-st #u25844-4,#widgetu25833.frm-subm-err-st #u25835-4,#widgetu25833.frm-subm-ok-st #u25834-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu25833.frm-subm-ok-st #u25834-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u25845-17
{
	background: url("../../images/u25845-17.png") no-repeat 0px 0px;
}

#u25845-17:hover
{
	background: url("../../images/u25845-17-r.png") no-repeat 0px 0px;
}

#u25845-17:active
{
	background: url("../../images/u25845-17-m.png") no-repeat 0px 0px;
}

#widgetu25833.frm-sub-st #u25845-17
{
	background: url("../../images/u25845-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u25845-17
{
	background-image: url("../../images/u25845-17_2x.png");
	background-size: 130px 30px;
}

.hidpi #u25845-17:hover
{
	background-image: url("../../images/u25845-17-r_2x.png");
	background-size: 130px 30px;
}

.hidpi #u25845-17:active
{
	background-image: url("../../images/u25845-17-m_2x.png");
	background-size: 130px 30px;
}

.hidpi #widgetu25833.frm-sub-st #u25845-17
{
	background-image: url("../../images/u25845-17-fs_2x.png");
	background-size: 130px 30px;
}

#u25821
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u25823-4
{
	background-color: transparent;
	color: #969696;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u25760
{
	border-width: 0px;
	border-color: transparent;
	background-color: #292929;
}

#u25846-4,#u25822-11,#u25847-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u25848-4
{
	background-color: transparent;
	color: #999999;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 300;
}


