.version.single_post_with_sidebar /* version checker */
{
	color: #000008;
	background-color: #7CFF4F;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1402px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu5977
{
	width: 0.01px;
	padding-bottom: 101px;
}

#accordionu5977
{
	z-index: 219;
	width: 769px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#u5978
{
	z-index: 220;
	width: 769px;
	position: relative;
}

#u6023-3
{
	z-index: 221;
	width: 759px;
	min-height: 91px;
	padding-left: 10px;
	padding-bottom: 10px;
	position: relative;
}

#u6023-3.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 91px;
	width: 759px;
	margin: 0px;
}

#u5979
{
	z-index: 224;
	width: 769px;
	position: relative;
}

#u25377
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u25377:hover
{
	min-height: 17px;
	margin: 0px;
}

#u25377:active
{
	min-height: 17px;
	margin: 0px;
}

#u25380-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u25377:hover #u25380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u25377:active #u25380-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5998
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u25377.MuseMenuActive,#u5998:hover
{
	min-height: 17px;
	margin: 0px;
}

#u5998:active
{
	min-height: 17px;
	margin: 0px;
}

#u6001-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u25377.MuseMenuActive #u25380-4,#u5998:hover #u6001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5998:active #u6001-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6003
{
	min-height: 17px;
	padding-bottom: 56px;
	position: relative;
}

#u5998.MuseMenuActive,#u6003:active
{
	min-height: 17px;
	margin: 0px;
}

#u6006-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u5998.MuseMenuActive #u6001-4,#u6003:hover #u6006-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6003:active #u6006-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6012
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6003.MuseMenuActive,#u6012:active
{
	min-height: 17px;
	margin: 0px;
}

#u6013-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6003.MuseMenuActive #u6006-4,#u6012:hover #u6013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6012:active #u6013-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6017
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6012.MuseMenuActive,#u6017:active
{
	min-height: 17px;
	margin: 0px;
}

#u6020-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6012.MuseMenuActive #u6013-4,#u6017:hover #u6020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u6017:active #u6020-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5982
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u6017.MuseMenuActive,#u5982:active
{
	min-height: 17px;
	margin: 0px;
}

#u5983-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u6017.MuseMenuActive #u6020-4,#u5982:hover #u5983-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5982:active #u5983-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17089
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u5982.MuseMenuActive,#u17089:active
{
	min-height: 17px;
	margin: 0px;
}

#u17090-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u5982.MuseMenuActive #u5983-4,#u17089:hover #u17090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17089:active #u17090-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989
{
	min-height: 17px;
	padding-bottom: 57px;
	position: relative;
}

#u17089.MuseMenuActive,#u5989:active
{
	min-height: 17px;
	margin: 0px;
}

#u5989.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u5991-4
{
	min-height: 17px;
	position: relative;
	top: 28px;
}

#u17089.MuseMenuActive #u17090-4,#u5989:hover #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989:active #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u5989.MuseMenuActive #u5991-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu5980,#menuu5980-bw
{
	z-index: 225;
	min-height: 589px;
}

#u6046
{
	z-index: 275;
	width: 127px;
	height: 43px;
	position: fixed;
	top: 18px;
	left: 64px;
}

#u6096
{
	z-index: 274;
	width: 216px;
	height: 73px;
	margin-left: 64px;
	top: -88px;
	margin-bottom: -73px;
	position: relative;
}

#u6305
{
	z-index: 2;
	min-height: 97px;
	padding-bottom: 53px;
}

#u14041
{
	z-index: 205;
	width: 645px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 64px;
}

#u14043-4
{
	z-index: 206;
	width: 644px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u14042-4
{
	z-index: 210;
	width: 416px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u14044-4
{
	z-index: 214;
	width: 260px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 65px;
	left: 444px;
}

#u6305-bw
{
	z-index: 2;
	min-height: 97px;
	margin-top: -1px;
	margin-bottom: -1px;
}

#ppu11011
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: 75px;
}

#pu11011
{
	width: 0.01px;
	margin-right: -10000px;
}

#u11011
{
	z-index: 179;
	width: 352px;
	height: 171px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	position: relative;
	background: transparent url("../../images/singlepost-with-sidebar-u13573-fr.jpg") no-repeat left top;
	background-size: cover;
}

.hidpi #u11011
{
	background-image: url("../../images/singlepost-with-sidebar-u13573-fr_2x.jpg");
}

#u11012-4
{
	z-index: 180;
	width: 380px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 38px;
	font-size: 32px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u11013-5
{
	z-index: 184;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
}

#u11015
{
	z-index: 189;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u11017-4
{
	z-index: 191;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 168px;
}

#u11014,#u11018
{
	float: left;
}

#u11019
{
	z-index: 195;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u11021-8
{
	z-index: 197;
	width: 352px;
	min-height: 707px;
	background-color: transparent;
	line-height: 16px;
	margin-top: 17px;
	position: relative;
}

#u10993
{
	z-index: 145;
	width: 256px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 384px;
}

#u10996-4
{
	z-index: 146;
	width: 179px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	position: relative;
}

#u11004-4
{
	z-index: 154;
	width: 255px;
	min-height: 85px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u11006
{
	z-index: 178;
	width: 255px;
	min-height: 754px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 22px;
	position: relative;
}

#u11005-4
{
	z-index: 150;
	width: 179px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 56px;
	position: relative;
}

#pu10997
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 7px;
}

#u10997
{
	z-index: 174;
	width: 19px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u11008-4
{
	z-index: 158;
	width: 137px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u11009
{
	z-index: 175;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u10999-4
{
	z-index: 162;
	width: 224px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu11013-5,#pu11009,#pu10994
{
	width: 0.01px;
	margin-top: 9px;
}

#u10994
{
	z-index: 176;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u11001-4
{
	z-index: 166;
	width: 224px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#pu11002
{
	width: 0.01px;
	margin-top: 7px;
}

#u11002
{
	z-index: 177;
	width: 20px;
	min-height: 19px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u11000-4
{
	z-index: 170;
	width: 224px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u11008-2,#u10999-2,#u11001-2,#u11000-2
{
	font-family: lato, sans-serif;
}

#u16157
{
	z-index: 218;
	width: 640px;
	min-height: 340px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 64px;
	margin-top: 63px;
	position: relative;
}

#u6039
{
	z-index: 4;
	min-height: 499px;
	padding-bottom: 71px;
}

#pu14360
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 64px;
}

#u14360
{
	z-index: 9;
	width: 256px;
	padding-bottom: 0px;
	position: relative;
}

#u6038-4
{
	z-index: 10;
	width: 228px;
	position: relative;
}

#u6042-4
{
	z-index: 14;
	width: 256px;
	margin-top: 12px;
	position: relative;
}

#u14344
{
	z-index: 76;
	width: 256px;
	margin-top: 102px;
	position: relative;
}

#u14345-4
{
	z-index: 77;
	width: 228px;
	position: relative;
}

#u14346-4
{
	z-index: 81;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu14347
{
	z-index: 85;
	width: 0.01px;
	height: 126px;
	margin-top: 12px;
	position: relative;
}

#widgetu14356
{
	z-index: 86;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu14356.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u14359-4
{
	z-index: 87;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14356:hover #u14359-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14348
{
	z-index: 91;
	width: 256px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu14348.fld-err-st
{
	width: 256px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u14350-4
{
	z-index: 92;
	width: 236px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14356.fld-err-st #u14359-4,#widgetu14348:hover #u14350-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14348.fld-err-st #u14350-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 236px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14356_input,#widgetu14356_prompt,#widgetu14348_input,#widgetu14348_prompt
{
	width: 236px;
	min-height: 14px;
	padding: 10px;
}

#widgetu14356:hover #widgetu14356_input,#widgetu14356.fld-err-st #widgetu14356_input,#widgetu14356:hover #widgetu14356_prompt,#widgetu14356.fld-err-st #widgetu14356_prompt,#widgetu14348:hover #widgetu14348_input,#widgetu14348.fld-err-st #widgetu14348_input,#widgetu14348:hover #widgetu14348_prompt,#widgetu14348.fld-err-st #widgetu14348_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14355-4
{
	z-index: 96;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14352-4
{
	z-index: 100;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14353-4
{
	z-index: 104;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14347.frm-sub-st #u14355-4,#widgetu14347.frm-subm-err-st #u14352-4,#widgetu14347.frm-subm-ok-st #u14353-4
{
	min-height: 25px;
}

#u14354-17
{
	z-index: 108;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#pu14361
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 47px;
	margin-left: 448px;
}

#u14361
{
	z-index: 22;
	width: 256px;
	padding-bottom: 0px;
	position: relative;
}

#u6047-4
{
	z-index: 23;
	width: 228px;
	position: relative;
}

#menuu6049
{
	z-index: 27;
	width: 256px;
	margin-top: 12px;
	position: relative;
}

#u25335
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u25337-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6067
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6070-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6051
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6052-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6058
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6059-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6074
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6077-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u6086
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
}

#u6089-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
}

#u17096
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u17099-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u25334,#u6064,#u6050,#u6057,#u6071,#u6085,#u17093,#u6078
{
	width: 256px;
	position: relative;
}

#u6079
{
	width: 256px;
	min-height: 17px;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u25335.MuseMenuActive,#u6067.MuseMenuActive,#u6051.MuseMenuActive,#u6058.MuseMenuActive,#u6074.MuseMenuActive,#u6086.MuseMenuActive,#u17096.MuseMenuActive,#u6079.MuseMenuActive
{
	width: 256px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u6082-4
{
	width: 256px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u25335.MuseMenuActive #u25337-4,#u6067.MuseMenuActive #u6070-4,#u6051.MuseMenuActive #u6052-4,#u6058.MuseMenuActive #u6059-4,#u6074.MuseMenuActive #u6077-4,#u6086.MuseMenuActive #u6089-4,#u17096.MuseMenuActive #u17099-4,#u6079.MuseMenuActive #u6082-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 256px;
	margin: 0px -10000px 0px 0px;
}

#u17575
{
	z-index: 125;
	width: 216px;
	padding-bottom: 0px;
	margin-top: 84px;
	position: relative;
}

#u17581-4
{
	z-index: 137;
	width: 214px;
	margin-left: 2px;
	position: relative;
}

#u17576-11
{
	z-index: 126;
	width: 214px;
	min-height: 104px;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#pu17584
{
	width: 0.01px;
	margin-top: -8px;
}

#u17584
{
	z-index: 141;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u17579
{
	z-index: 142;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u17577
{
	z-index: 143;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17582
{
	z-index: 144;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u6039-bw
{
	z-index: 4;
	min-height: 499px;
	margin-top: 75px;
}

#u6044
{
	z-index: 3;
	min-height: 35px;
	padding-bottom: 12px;
}

#u6043-4
{
	z-index: 5;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 25px;
}

#u6092-4
{
	z-index: 18;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 501px;
}

#u6044-bw
{
	z-index: 3;
	min-height: 35px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 768px;
	padding-bottom: 47px;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

