.player-tab1
{
	font-family: lato-n4, sans-serif;
}

.h1
{
	font-family: lato-n9, sans-serif;
}

.map,.H2,.h2-phone
{
	font-family: lato-n7, sans-serif;
}

#u1806.TabbedPanelsTabSelected #u1809-6 p,#u1774-15,#u1788-42
{
	font-family: lato-n4, sans-serif;
}

#u1857-4
{
	font-family: lato-n7, sans-serif;
}

#u1844-4
{
	font-family: lato-n7, sans-serif;
}

#u1851-4
{
	font-family: lato-n7, sans-serif;
}

#widgetu1855_input,#widgetu1855_prompt,#widgetu1843_input,#widgetu1843_prompt,#widgetu1850_input,#widgetu1850_prompt
{
	font-family: lato, sans-serif;
}

