#u2058
{
	-pie-box-shadow: none;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	background-color: #FFFFFF;
	opacity: 0.67;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=67)";
	filter: alpha(opacity=67);
	border-radius: 140px 140px 0px 140px ;
	position: relative;
}

#u2059
{
	overflow: hidden;
	position: relative;
}

#u2022
{
	border-style: none;
	background-color: #B6CAF3;
}

#u2035
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2035:hover
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2038-4
{
	border-style: none;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u2035:hover #u2038-4
{
	background-color: transparent;
}

#u2035:active #u2038-4
{
	background-color: transparent;
}

#u2035:hover #u2038-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2035:active #u2038-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2039
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2035.TabbedPanelsTabSelected,#u2039:hover
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2042-6
{
	border-style: none;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u2035.TabbedPanelsTabSelected #u2038-4,#u2039:hover #u2042-6
{
	background-color: transparent;
}

#u2039:active #u2042-6
{
	background-color: transparent;
}

#u2035.TabbedPanelsTabSelected #u2038-4 p,#u2039:hover #u2042-6 p
{
	color: #000000;
	visibility: inherit;
}

#u2039:active #u2042-6 p
{
	color: #000000;
	visibility: inherit;
}

#u2023
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2039.TabbedPanelsTabSelected,#u2023:hover
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2024-6
{
	border-style: none;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u2039.TabbedPanelsTabSelected #u2042-6,#u2023:hover #u2024-6
{
	background-color: transparent;
}

#u2023:active #u2024-6
{
	background-color: transparent;
}

#u2039.TabbedPanelsTabSelected #u2042-6 p,#u2023:hover #u2024-6 p
{
	color: #000000;
	visibility: inherit;
}

#u2023:active #u2024-6 p
{
	color: #000000;
	visibility: inherit;
}

#u2023.TabbedPanelsTabSelected #u2024-6 p
{
	color: #000000;
	visibility: inherit;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u2031
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2023.TabbedPanelsTabSelected,#u2031:hover
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2033-4
{
	border-style: none;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u2023.TabbedPanelsTabSelected #u2024-6,#u2031:hover #u2033-4
{
	background-color: transparent;
}

#u2031:active #u2033-4
{
	background-color: transparent;
}

#u2031.TabbedPanelsTabSelected #u2033-4
{
	background-color: transparent;
}

#u2031:hover #u2033-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2031:active #u2033-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2027
{
	border-style: none;
	background-color: transparent;
	position: relative;
}

#u2031.TabbedPanelsTabSelected,#u2027:hover
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2027.TabbedPanelsTabSelected
{
	border-style: solid;
	border-color: #B6CAF3;
	background-color: #FFFFFF;
	border-width: 0px 0px 2px;
}

#u2030-4
{
	border-style: none;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	position: relative;
}

#u2031.TabbedPanelsTabSelected #u2033-4 p,#u2027:hover #u2030-4 p
{
	color: #000000;
	visibility: inherit;
}

#u2027.TabbedPanelsTabSelected #u2030-4 p
{
	color: #000000;
	visibility: inherit;
}

#tab-panelu2021,#u2043
{
	border-style: none;
	background-color: transparent;
}

#u2049,#u2055,#u2044,#u2052,#u2047
{
	border-style: none;
	background-color: #FFFFFF;
	position: relative;
}

#u2051,#u2050,#u2057,#u2056,#u2048
{
	background-color: #7F7F7F;
	position: relative;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

