:root {
    --black: #1b2836;
    --white: #fff;
    --blue: #0e7decdc;
    --shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.7);
    --body-skew: 2deg;
    --cells: 2;
}
.bg{
    background-color: #1b2836;
    background-color: var(--blue, #1b2836);
    background-image: url('./../as.gif');
    background-attachment: fixed;
    background-blend-mode: luminosity;
}
html {
    padding: 4rem 2vw;
    background-color: #1b2836;
    background-color: var(--blue, #1b2836);
    background-image: url('./../as.gif');
    background-attachment: fixed;
    background-blend-mode: luminosity;
}
.skew1{
    transform: skewY(var(--body-skew));
}
.skew2{
    transform: skewY(-var(--body-skew));
}

body {
    background-color: var(--black);
    font-family: 'Courier New', Courier, monospace
}

.outer{
    background-color: var(--black);
    box-shadow: var(--shadow);
    /* transform: skewY(var(--body-skew)); */
    composes: skew1
}
.inner{
    composes: skew2
}


.wrap {
    /* max-width: 900px; */
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 100px;
}


.logo {
    display: inline-block;
    width: 80px;
    height: 80px;
    vertical-align: middle;
    /* margin-left: 14px; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: grid;
    grid-gap: 4vw;
    grid-template-columns: repeat(var(--cells), 1fr);
}

.grid__switch{
    display: none
}
@media screen and (max-width:800px){
    .grid__switch{
        display: none
    }
}
 @supports (display:var(--var)){
    .grid__switch{
        display: initial
    }
 }

.site a {
    /* color:  rgba(24, 127, 245, 0.904); */
    color: var(--white);
    cursor: alias;
    text-decoration: none;
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: flex-end;
    /* background-color: var(--black, #1b2836); */
}

.shadow {
    box-shadow: var(--shadow);
    transition: box-shadow 0.3s;
}

.pic {
    grid-area: 1/1/1/-1;
}

.label {
    composes: shadow;
    background-color: #0e7decdc;
    padding: 1.3vw;
    transform: skew(calc(-var(--body-skew)*5));
    grid-area: 1/1/1/4;
    margin-bottom: 1rem;
    margin-left: -1rem;
}

.label__in {
    font-weight:bold;
    line-height: .8;
    font-size:1rem;
    transform: skew(calc(var(--body-skew)*5));
}