.player-tab1
{
	font-family: lato-n4, sans-serif;
}

.h1
{
	font-family: lato-n9, sans-serif;
}

.map,.H2,.h2-phone
{
	font-family: lato-n7, sans-serif;
}

#u1473.TabbedPanelsTabSelected #u1476-4 p,#u1404-15,#u1431-42
{
	font-family: lato-n4, sans-serif;
}

#u1519-4
{
	font-family: lato-n7, sans-serif;
}

#u1515-4
{
	font-family: lato-n7, sans-serif;
}

#u1527-4
{
	font-family: lato-n7, sans-serif;
}

#widgetu1518_input,#widgetu1518_prompt,#widgetu1513_input,#widgetu1513_prompt,#widgetu1524_input,#widgetu1524_prompt
{
	font-family: lato, sans-serif;
}

