.version.index /* version checker */
{
	color: #0000F5;
	background-color: #573590;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 600px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#pslideshowu970
{
	width: 0.01px;
}

#slideshowu970
{
	z-index: 17;
	width: 0.01px;
	height: 553px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
}

#u986
{
	position: absolute;
	width: 380px;
	height: 553px;
	background-color: transparent;
}

#u986popup
{
	z-index: 18;
}

#u987
{
	z-index: 19;
	width: 380px;
	height: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u989
{
	z-index: 21;
	width: 380px;
	height: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u991
{
	z-index: 23;
	width: 380px;
	height: 553px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u979
{
	position: absolute;
	width: 223px;
	background-color: transparent;
	top: 435px;
	left: 79px;
}

#u979popup
{
	z-index: 25;
}

#u981-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u980-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u982-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	margin-right: -10000px;
	position: relative;
}

#u993-4
{
	position: absolute;
	width: 45px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 475px;
	left: 125px;
}

#u993-4popup
{
	z-index: 38;
}

#u985-4
{
	position: absolute;
	width: 45px;
	min-height: 34px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	color: #FFFFFF;
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 475px;
	left: 190px;
}

#u993-4:hover,#u985-4:hover
{
	background-color: #ED1C24;
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 34px;
	width: 45px;
	margin: 0px;
}

#u985-4popup
{
	z-index: 42;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u969
{
	z-index: 46;
	min-height: 56px;
	padding-bottom: 15px;
}

#accordionu944
{
	z-index: 56;
	width: 82px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u945
{
	z-index: 57;
	width: 82px;
	position: relative;
}

#u946-4
{
	z-index: 58;
	position: relative;
}

#u947
{
	z-index: 62;
	width: 50px;
	position: relative;
	padding: 7px 16px 5.178238039673431px;
}

#u1615
{
	z-index: 63;
	width: 50px;
	position: relative;
}

#u958
{
	z-index: 64;
}

#u1606
{
	z-index: 65;
	width: 50px;
	margin-top: 13px;
	position: relative;
}

#u960
{
	z-index: 66;
}

#u1642
{
	z-index: 67;
	width: 50px;
	margin-top: 12px;
	position: relative;
}

#u948
{
	z-index: 68;
}

#u1633
{
	z-index: 69;
	width: 50px;
	margin-top: 11px;
	position: relative;
}

#u954
{
	z-index: 70;
}

#u1651
{
	z-index: 71;
	width: 50px;
	margin-top: 11px;
	position: relative;
}

#u952
{
	z-index: 72;
}

#u1624
{
	z-index: 75;
	width: 50px;
	margin-top: 12px;
	position: relative;
}

#u950
{
	z-index: 76;
}

#u1660
{
	z-index: 73;
	width: 50px;
	margin-top: 11px;
	position: relative;
}

#u956
{
	z-index: 74;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u969-bw
{
	z-index: 46;
	min-height: 56px;
}

#u1011
{
	z-index: 78;
	width: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u1011_states
{
	width: 220px;
	height: 67px;
}

#u1004
{
	z-index: 2;
	height: 3px;
	border-color: #000000;
	background-color: #B51C24;
}

#u1004-bw
{
	z-index: 2;
	margin-top: 14px;
	height: 3px;
}

#u1008-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	margin-left: 71px;
	margin-top: 18px;
	position: relative;
}

#u1006-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	margin-left: 78px;
	margin-top: 18px;
	position: relative;
}

#u1005
{
	z-index: 4;
	width: 266px;
	height: 5px;
	border-color: #000000;
	background-color: #B51C24;
	margin-left: 57px;
	margin-top: 18px;
	position: relative;
}

#u1007-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 36px;
	margin-top: 18px;
	position: relative;
}

#u1009
{
	z-index: 3;
	height: 3px;
	border-color: #000000;
	background-color: #B51C24;
}

#u1009-bw
{
	z-index: 3;
	margin-top: 18px;
	height: 3px;
}

#u942
{
	z-index: 47;
	min-height: 62px;
	padding-bottom: 10px;
}

#u943-8
{
	z-index: 48;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 169px;
}

#u942-bw
{
	z-index: 47;
	min-height: 62px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

