#u969
{
	border-color: #000000;
	background-color: #B51C24;
}

#accordionu944
{
	border-color: #7F7F7F;
	background-color: transparent;
}

#u947
{
	border-color: #FFFFFF;
	background-color: transparent;
}

#u945,#u1615,#u1606,#u1642,#u1633,#u1651,#u1624,#u1660
{
	background-color: transparent;
}

#u958,#u960,#u948,#u954,#u952,#u950,#u956
{
	display: block;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#u1011
{
	vertical-align: top;
}

#u1011_states
{
	float: left;
	background: url("../../images/u1011_states.png") no-repeat 0px 0px;
}

#u1011:hover #u1011_states
{
	background: url("../../images/u1011_states-r.png") no-repeat 0px 0px;
}

#u942
{
	border-color: #000000;
	background-color: #534741;
}

#u946-4,#u943-8
{
	display: block;
	vertical-align: top;
}


