#u26592
{
	border-color: #000000;
	background-color: #363636;
}

#u26566-4,#u26567-4,#u26563-4,#u26578-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u26565,#u26560,#u26562,#u26576,#widgetu26580
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u26581-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu26580:hover #u26581-4
{
	border-color: #BFC7D3;
}

.Footer-Form-Normal
{
	border-width: 0px;
	border-color: #BFC7D3;
	background-color: #282828;
	border-radius: 5px;
}

#widgetu26580.non-empty-st #u26581-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu26580:hover #u26581-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu26584
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#widgetu26580.fld-err-st,#widgetu26584.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
}

#u26587-4
{
	color: #636363;
	line-height: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
	font-style: italic;
}

#widgetu26584:hover #u26587-4
{
	border-color: #BFC7D3;
}

#widgetu26580.fld-err-st #u26581-4,#widgetu26584.fld-err-st #u26587-4
{
	border-color: #D7244C;
}

#widgetu26584.non-empty-st #u26587-4 *
{
	color: #AFAFAF;
	font-style: normal;
}

#widgetu26584:hover #u26587-4 *
{
	color: #7F7F7F;
	font-style: normal;
}

#widgetu26580.fld-err-st #u26581-4 *,#widgetu26584.fld-err-st #u26587-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu26580_input,#widgetu26580_prompt,#widgetu26584_input,#widgetu26584_prompt
{
	color: #636363;
	font-family: lato, sans-serif;
	font-style: italic;
	font-weight: 400;
}

#widgetu26580.non-empty-st #widgetu26580_prompt,#widgetu26584.non-empty-st #widgetu26584_prompt
{
	visibility: hidden;
}

#u26588-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu26579.frm-sub-st #u26588-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u26590-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #FF0000;
	line-height: 14px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu26579.frm-subm-err-st #u26590-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u26589-4
{
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	color: #00FF00;
	line-height: 12px;
	font-size: 12px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#widgetu26579.frm-sub-st #u26588-4,#widgetu26579.frm-subm-err-st #u26590-4,#widgetu26579.frm-subm-ok-st #u26589-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#widgetu26579.frm-subm-ok-st #u26589-4 p
{
	color: #999999;
	font-size: 14px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-style: italic;
}

#u26591-17
{
	background: url("../../images/u26591-17.png") no-repeat 0px 0px;
}

#u26591-17:hover
{
	background: url("../../images/u26591-17-r.png") no-repeat 0px 0px;
}

#u26591-17:active
{
	background: url("../../images/u26591-17-m.png") no-repeat 0px 0px;
}

#widgetu26579.frm-sub-st #u26591-17
{
	background: url("../../images/u26591-17-fs.png") no-repeat 0px 0px;
}

.hidpi #u26591-17
{
	background-image: url("../../images/u26591-17_2x.png");
	background-size: 130px 30px;
}

.hidpi #u26591-17:hover
{
	background-image: url("../../images/u26591-17-r_2x.png");
	background-size: 130px 30px;
}

.hidpi #u26591-17:active
{
	background-image: url("../../images/u26591-17-m_2x.png");
	background-size: 130px 30px;
}

.hidpi #widgetu26579.frm-sub-st #u26591-17
{
	background-image: url("../../images/u26591-17-fs_2x.png");
	background-size: 130px 30px;
}

#u26569
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u26572-4
{
	background-color: transparent;
	color: #969696;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#u26559
{
	border-width: 0px;
	border-color: transparent;
	background-color: #292929;
}

#u26577-4,#u26574-11,#u26564-4
{
	background-color: transparent;
	color: #999999;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#u26568-4
{
	background-color: transparent;
	color: #999999;
	text-align: right;
	font-family: lato, sans-serif;
	font-weight: 300;
}


