.version.shop /* version checker */
{
	color: #00000A;
	background-color: #E4B46D;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1590.6749999999993px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu12654
{
	width: 0.01px;
	padding-bottom: 100px;
}

#accordionu12654
{
	z-index: 154;
}

#u12655
{
	z-index: 155;
}

#u12700-3
{
	z-index: 156;
	min-height: 90px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#u12700-3.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 90px;
	margin: 0px;
}

#u12656
{
	z-index: 159;
}

#u26246
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u26246:active
{
	min-height: 17px;
	margin: 0px;
}

#u26248-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u26246:active #u26248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12661
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u26246.MuseMenuActive,#u12661:active
{
	min-height: 17px;
	margin: 0px;
}

#u12663-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u26246.MuseMenuActive #u26248-4,#u12661:active #u12663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12689
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12661.MuseMenuActive,#u12689:active
{
	min-height: 17px;
	margin: 0px;
}

#u12692-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12661.MuseMenuActive #u12663-4,#u12689:active #u12692-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12675
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12689.MuseMenuActive,#u12675:active
{
	min-height: 17px;
	margin: 0px;
}

#u12676-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12689.MuseMenuActive #u12692-4,#u12675:active #u12676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12696
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12675.MuseMenuActive,#u12696:active
{
	min-height: 17px;
	margin: 0px;
}

#u12698-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12675.MuseMenuActive #u12676-4,#u12696:active #u12698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12680
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12696.MuseMenuActive,#u12680:active
{
	min-height: 17px;
	margin: 0px;
}

#u12682-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12696.MuseMenuActive #u12698-4,#u12680:active #u12682-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17179
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12680.MuseMenuActive,#u17179:active
{
	min-height: 17px;
	margin: 0px;
}

#u17181-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12680.MuseMenuActive #u12682-4,#u17179:active #u17181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12668
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u17179.MuseMenuActive,#u12668:active
{
	min-height: 17px;
	margin: 0px;
}

#u12668.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u12669-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u17179.MuseMenuActive #u17181-4,#u12668:active #u12669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12668.MuseMenuActive #u12669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

.js body.initialized
{
	visibility: visible;
}

#menuu12657,#menuu12657-bw
{
	z-index: 160;
	min-height: 504px;
}

#accordionu12654-bw
{
	z-index: 154;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u12704
{
	z-index: 210;
	width: 127px;
	height: 43px;
	position: fixed;
	top: 19px;
	left: 35px;
}

#u12703
{
	z-index: 209;
	width: 216px;
	height: 73px;
	margin-left: 35px;
	top: -87px;
	margin-bottom: -73px;
	position: relative;
}

#u12705
{
	z-index: 2;
	min-height: 98px;
	padding-bottom: 52px;
}

#u17183
{
	z-index: 98;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 33px;
}

#u17185-4
{
	z-index: 99;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u17184-4
{
	z-index: 103;
	width: 228px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u17186-4
{
	z-index: 107;
	width: 203px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 143px;
}

#u12705-bw
{
	z-index: 2;
	min-height: 98px;
}

#u17187
{
	z-index: 111;
	width: 310px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 35px;
	margin-top: 60px;
	position: relative;
}

#u17188-4
{
	z-index: 112;
	width: 278px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#u17191
{
	z-index: 116;
	width: 199px;
	min-height: 21px;
	border-color: #CECECE;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 110px;
}

#u17189
{
	z-index: 117;
	width: 148px;
	min-height: 21px;
	border-style: solid;
	border-width: 1px;
	border-color: #47BAB5;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u17193
{
	z-index: 118;
	width: 288px;
	min-height: 480px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 46px;
	margin-top: 5px;
	position: relative;
}

#u17197
{
	z-index: 120;
	width: 288px;
	min-height: 480px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 46px;
	margin-top: 36px;
	position: relative;
}

#u17195
{
	z-index: 119;
	width: 288px;
	min-height: 478px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 46px;
	margin-top: 36px;
	position: relative;
}

#u17199
{
	z-index: 121;
	width: 288px;
	min-height: 478px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 46px;
	margin-top: 36px;
	position: relative;
}

#u17201
{
	z-index: 122;
	width: 310px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 35px;
	margin-top: 114px;
	position: relative;
}

#u17206-4
{
	z-index: 123;
	width: 278px;
	background-color: transparent;
	line-height: 22px;
	position: relative;
}

#pu17191,#pu17202
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 9px;
}

#u17202
{
	z-index: 127;
	width: 199px;
	min-height: 21px;
	border-color: #CECECE;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 110px;
}

#u17204
{
	z-index: 128;
	width: 187px;
	min-height: 21px;
	border-style: solid;
	border-width: 1px;
	border-color: #47BAB5;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u17209
{
	z-index: 129;
	width: 320px;
	min-height: 431px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-left: 30px;
	margin-top: 16px;
	position: relative;
}

#u17211
{
	z-index: 130;
	width: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 28px;
	margin-top: 166px;
	position: relative;
}

#u17213-4
{
	z-index: 131;
	width: 179px;
	min-height: 20px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	margin-left: 2px;
	position: relative;
}

#u17212-4
{
	z-index: 135;
	width: 322px;
	min-height: 85px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 2px;
	margin-top: 6px;
	position: relative;
}

#u17216
{
	z-index: 140;
	width: 324px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 28px;
	position: relative;
}

#buttonu17218
{
	z-index: 141;
	width: 324px;
	border-color: #787878;
	border-radius: 2px;
	padding-bottom: 82px;
	position: relative;
	background: #CACACA url("../../images/image1.jpg") no-repeat center center;
}

#buttonu17218:hover
{
	width: 324px;
	min-height: 0px;
	margin: 0px;
	background: #545454 url("../../images/image1.jpg") no-repeat center center;
}

#buttonu17218:hover::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	border-radius: 2px;
	box-shadow: inset 0px 0px 250px rgba(0,0,0,0.6), inset 0px 0px 250px rgba(0,0,0,0.6);
}

#buttonu17218.ButtonSelected
{
	-pie-box-shadow: none;
	box-shadow: none;
	width: 324px;
	min-height: 0px;
	margin: 0px;
	background: #CACACA url("../../images/image1.jpg") no-repeat center center;
}

.hidpi #buttonu17218,.hidpi #buttonu17218:hover,.hidpi #buttonu17218.ButtonSelected
{
	background-image: url("../../images/image1_2x.jpg");
	background-size: 360px 213px;
}

#u17219-4
{
	z-index: 142;
	width: 323px;
	min-height: 51px;
	background-color: transparent;
	line-height: 50px;
	text-align: center;
	font-size: 42px;
	letter-spacing: 1px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
}

#buttonu17218:hover #u17219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 323px;
	margin: 80px -10000px 0px 0px;
}

#buttonu17218.ButtonSelected #u17219-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 51px;
	width: 323px;
	margin: 80px -10000px 0px 0px;
}

#buttonu17218:hover #u17219-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

.js body,#buttonu17218.ButtonSelected #u17219-4 p,#u17219-2
{
	visibility: hidden;
}

#u17217-4
{
	z-index: 146;
	width: 223px;
	min-height: 26px;
	background-color: transparent;
	color: #404040;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-top: 8px;
	position: relative;
}

#u17220-4
{
	z-index: 150;
	width: 223px;
	min-height: 26px;
	background-color: transparent;
	color: #9CA4AF;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 400;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u17214
{
	z-index: 139;
	width: 323px;
	min-height: 813px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 55px;
	position: relative;
}

#u12580
{
	z-index: 3;
	min-height: 794.3750000000009px;
	padding: 43px 35px 45.62499999999909px;
}

#u16658
{
	z-index: 4;
	width: 310px;
	padding-bottom: 0px;
	position: relative;
}

#u12581-4
{
	z-index: 5;
	width: 228px;
	position: relative;
}

#u12582-4
{
	z-index: 9;
	width: 310px;
	margin-top: 12px;
	position: relative;
}

#u16661
{
	z-index: 71;
	width: 238px;
	padding-bottom: 0px;
	margin-top: 48px;
	position: relative;
}

#u16659
{
	z-index: 73;
	width: 170px;
	margin-left: 1px;
	position: relative;
}

#u16660-4
{
	z-index: 74;
	width: 170px;
	position: relative;
	margin-right: -10000px;
}

#u16172
{
	z-index: 72;
	width: 238px;
	min-height: 160px;
	margin-top: 5px;
	position: relative;
}

#u14328
{
	z-index: 22;
	width: 309px;
	margin-left: 1px;
	margin-top: 44px;
	position: relative;
}

#u14328_position_content
{
	width: 100%;
}

#u14329-4
{
	z-index: 23;
	width: 228px;
	position: relative;
}

#u14343-4
{
	z-index: 27;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu14330
{
	z-index: 31;
	width: 0.01px;
	height: 126px;
	margin-top: 12px;
	position: relative;
}

#widgetu14337
{
	z-index: 32;
	width: 309px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu14337.fld-err-st
{
	width: 309px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u14339-4
{
	z-index: 33;
	width: 289px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14337:hover #u14339-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14333
{
	z-index: 37;
	width: 309px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu14333.fld-err-st
{
	width: 309px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u14335-4
{
	z-index: 38;
	width: 289px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14337.fld-err-st #u14339-4,#widgetu14333:hover #u14335-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14333.fld-err-st #u14335-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14337_input,#widgetu14337_prompt,#widgetu14333_input,#widgetu14333_prompt
{
	width: 289px;
	min-height: 14px;
	padding: 10px;
}

#widgetu14337:hover #widgetu14337_input,#widgetu14337.fld-err-st #widgetu14337_input,#widgetu14337:hover #widgetu14337_prompt,#widgetu14337.fld-err-st #widgetu14337_prompt,#widgetu14333:hover #widgetu14333_input,#widgetu14333.fld-err-st #widgetu14333_input,#widgetu14333:hover #widgetu14333_prompt,#widgetu14333.fld-err-st #widgetu14333_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14332-4
{
	z-index: 42;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14342-4
{
	z-index: 46;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14331-4
{
	z-index: 50;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14330.frm-sub-st #u14332-4,#widgetu14330.frm-subm-err-st #u14342-4,#widgetu14330.frm-subm-ok-st #u14331-4
{
	min-height: 25px;
}

#u14341-17
{
	z-index: 54;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u17597
{
	z-index: 78;
	width: 216px;
	padding-bottom: 0px;
	margin-top: 45px;
	position: relative;
}

#u17603-4
{
	z-index: 90;
	width: 214px;
	margin-left: 2px;
	position: relative;
}

#u17598-11
{
	z-index: 79;
	width: 214px;
	min-height: 104px;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#pu17606
{
	width: 0.01px;
	margin-top: -8px;
}

#u17606
{
	z-index: 94;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u17601
{
	z-index: 95;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u17599
{
	z-index: 96;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17604
{
	z-index: 97;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u12580-bw
{
	z-index: 3;
	min-height: 794.3750000000009px;
	margin-top: 75px;
}

#u12650
{
	z-index: 13;
	min-height: 32px;
	padding-bottom: 15px;
}

#u12651-4
{
	z-index: 14;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 35px;
}

#u12652-4
{
	z-index: 18;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 117px;
}

#u12650-bw
{
	z-index: 13;
	min-height: 32px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 46px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

