.version.speakers /* version checker */
{
	color: #00001B;
	background-color: #22D5AB;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1591px;
	background-image: none;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#page_position_content
{
	margin-bottom: -47px;
	width: 0.01px;/* should not cover content below */
}

#paccordionu12654
{
	width: 0.01px;
	padding-bottom: 100px;
}

#accordionu12654
{
	z-index: 325;
}

#u12655
{
	z-index: 326;
}

#u12700-3
{
	z-index: 327;
	min-height: 90px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#u12700-3.AccordionPanelTabOpen
{
	padding-top: 0px;
	padding-bottom: 10px;
	min-height: 90px;
	margin: 0px;
}

#u12656
{
	z-index: 330;
}

#u26246
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u26246:active
{
	min-height: 17px;
	margin: 0px;
}

#u26248-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u26246:active #u26248-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12661
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u26246.MuseMenuActive,#u12661:active
{
	min-height: 17px;
	margin: 0px;
}

#u12663-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u26246.MuseMenuActive #u26248-4,#u12661:active #u12663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12689
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12661.MuseMenuActive,#u12689:active
{
	min-height: 17px;
	margin: 0px;
}

#u12692-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12661.MuseMenuActive #u12663-4,#u12689:active #u12692-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12675
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12689.MuseMenuActive,#u12675:active
{
	min-height: 17px;
	margin: 0px;
}

#u12676-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12689.MuseMenuActive #u12692-4,#u12675:active #u12676-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12696
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12675.MuseMenuActive,#u12696:active
{
	min-height: 17px;
	margin: 0px;
}

#u12698-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12675.MuseMenuActive #u12676-4,#u12696:active #u12698-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12680
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12696.MuseMenuActive,#u12680:active
{
	min-height: 17px;
	margin: 0px;
}

#u12682-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12696.MuseMenuActive #u12698-4,#u12680:active #u12682-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u17179
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u12680.MuseMenuActive,#u17179:active
{
	min-height: 17px;
	margin: 0px;
}

#u17181-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u12680.MuseMenuActive #u12682-4,#u17179:active #u17181-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12668
{
	min-height: 17px;
	padding-bottom: 46px;
	position: relative;
}

#u17179.MuseMenuActive,#u12668:active
{
	min-height: 17px;
	margin: 0px;
}

#u12668.MuseMenuActive
{
	min-height: 17px;
	margin: 0px;
}

#u12669-4
{
	min-height: 17px;
	position: relative;
	top: 23px;
}

#u17179.MuseMenuActive #u17181-4,#u12668:active #u12669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

#u12668.MuseMenuActive #u12669-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#menuu12657,#menuu12657-bw
{
	z-index: 331;
	min-height: 504px;
}

#accordionu12654-bw
{
	z-index: 325;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u12704
{
	z-index: 381;
	width: 127px;
	height: 43px;
	position: fixed;
	top: 19px;
	left: 35px;
}

#u12703
{
	z-index: 380;
	width: 216px;
	height: 73px;
	margin-left: 35px;
	top: -87px;
	margin-bottom: -73px;
	position: relative;
}

#u12705
{
	z-index: 2;
	min-height: 98px;
	padding-bottom: 52px;
}

#u14025
{
	z-index: 278;
	width: 282px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 35px;
}

#u14026-4
{
	z-index: 279;
	width: 281px;
	min-height: 44px;
	background-color: transparent;
	color: #000000;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 1px;
}

#u14027-4
{
	z-index: 283;
	width: 228px;
	min-height: 44px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u14028-4
{
	z-index: 287;
	width: 227px;
	background-color: transparent;
	text-align: right;
	line-height: 19px;
	font-size: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 118px;
}

#u12705-bw
{
	z-index: 2;
	min-height: 98px;
}

#pbuttonu13381
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 60px;
}

#buttonu13381
{
	z-index: 99;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u13383
{
	z-index: 100;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_3.jpg") no-repeat left top;
}

#pbuttonu13381:hover #u13383
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13383
{
	background-image: url("../../images/newspage_3_2x.jpg");
	background-size: 360px 175px;
}

#u13384-4
{
	z-index: 101;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13381:hover #u13384-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u13385-5
{
	z-index: 105;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13381:hover #u13385-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u13386
{
	float: left;
}

#u13387
{
	z-index: 109;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13389-4
{
	z-index: 112;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13381:hover #u13389-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#u13390
{
	float: left;
	margin-top: 1px;
	margin-bottom: -1px;
}

#u13390:hover
{
	min-height: 0px;
	margin: 1px 0px -1px;
}

#u13391
{
	z-index: 116;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu13381 #u13389-4
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u13382-6
{
	z-index: 118;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13381:hover #u13382-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu13393
{
	z-index: 126;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u13399
{
	z-index: 127;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_6.jpg") no-repeat left top;
}

#pbuttonu13393:hover #u13399
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13399
{
	background-image: url("../../images/newspage_6_2x.jpg");
	background-size: 360px 175px;
}

#u13394-4
{
	z-index: 128;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13393:hover #u13394-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u13395-4
{
	z-index: 132;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13393:hover #u13395-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u13396
{
	float: left;
}

#u13397
{
	z-index: 136;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13401-4
{
	z-index: 138;
	width: 156px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13393:hover #u13401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu13393.ButtonSelected #u13401-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 156px;
}

#u13402
{
	float: left;
}

#u13403
{
	z-index: 142;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu13393 #u13401-4
{
	position: relative;
	width: 156px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u13400-6
{
	z-index: 144;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13393:hover #u13400-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu13405
{
	z-index: 152;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u13412
{
	z-index: 153;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_5.jpg") no-repeat left top;
}

#pbuttonu13405:hover #u13412
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13412
{
	background-image: url("../../images/newspage_5_2x.jpg");
	background-size: 360px 175px;
}

#u13411-4
{
	z-index: 154;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13405:hover #u13411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u13407-4
{
	z-index: 158;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13405:hover #u13407-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u13408
{
	float: left;
}

#u13409
{
	z-index: 162;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13413-4
{
	z-index: 164;
	width: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13405:hover #u13413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 181px;
	min-height: 0px;
}

#pbuttonu13405.ButtonSelected #u13413-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 154px;
}

#u13414
{
	float: left;
}

#u13415
{
	z-index: 168;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu13405 #u13413-4
{
	position: relative;
	width: 154px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 180px;
}

#u13406-6
{
	z-index: 170;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13405:hover #u13406-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu13417
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 41px;
}

#buttonu13417
{
	z-index: 178;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u13428
{
	z-index: 179;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_1.jpg") no-repeat left top;
}

#pbuttonu13417:hover #u13428
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13428
{
	background-image: url("../../images/newspage_1_2x.jpg");
	background-size: 360px 175px;
}

#u13423-4
{
	z-index: 180;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13417:hover #u13423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u13418-5
{
	z-index: 184;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13417:hover #u13418-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u13419
{
	float: left;
}

#u13420
{
	z-index: 189;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13424-4
{
	z-index: 191;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13417:hover #u13424-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u13425
{
	float: left;
}

#u13426
{
	z-index: 195;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13422-6
{
	z-index: 197;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13417:hover #u13422-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#buttonu13429
{
	z-index: 205;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#u13440
{
	z-index: 206;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_4.jpg") no-repeat left top;
}

#pbuttonu13429:hover #u13440
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13440
{
	background-image: url("../../images/newspage_4_2x.jpg");
	background-size: 360px 175px;
}

#u13435-4
{
	z-index: 207;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13429:hover #u13435-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#u13430-4
{
	z-index: 211;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13429:hover #u13430-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#u13431
{
	float: left;
}

#u13432
{
	z-index: 215;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13436-5
{
	z-index: 217;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13429:hover #u13436-5
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#u13437
{
	float: left;
}

#u13438
{
	z-index: 221;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#u13434-6
{
	z-index: 224;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13429:hover #u13434-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu13393,#pbuttonu13405,#pbuttonu13429,#pbuttonu13441
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 40px;
}

#buttonu13441
{
	z-index: 232;
	width: 359px;
	height: 407px;
	border-style: solid;
	border-width: 1px;
	border-color: #DEDEDE;
	background-color: #FFFFFF;
	border-radius: 5px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu13381:hover #buttonu13381,#pbuttonu13393:hover #buttonu13393,#pbuttonu13405:hover #buttonu13405,#pbuttonu13417:hover #buttonu13417,#pbuttonu13429:hover #buttonu13429,#pbuttonu13441:hover #buttonu13441
{
	width: 360px;
	height: 408px;
	-pie-box-shadow: 0px 0px 34px #B2B2B2;
	box-shadow: 0px 0px 34px rgba(0,0,0,0.3);
	border-width: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#u13442
{
	z-index: 233;
	width: 360px;
	height: 175px;
	border-color: #000000;
	border-radius: 5px 5px 0px 0px ;
	background: transparent url("../../images/newspage_2.jpg") no-repeat left top;
}

#pbuttonu13441:hover #u13442
{
	background-repeat: no-repeat;
	background-position: left top;
	position: relative;
	width: 360px;
	margin-right: -10000px;
	height: 175px;
	min-height: 0px;
}

#pbuttonu13381.ButtonSelected #u13383,#pbuttonu13393.ButtonSelected #u13399,#pbuttonu13405.ButtonSelected #u13412,#pbuttonu13417.ButtonSelected #u13428,#pbuttonu13429.ButtonSelected #u13440,#pbuttonu13441.ButtonSelected #u13442
{
	background-repeat: no-repeat;
	background-position: left top;
	width: 360px;
	height: 175px;
	min-height: 0px;
}

.hidpi #u13442
{
	background-image: url("../../images/newspage_2_2x.jpg");
	background-size: 360px 175px;
}

#pbuttonu13381 #u13383,#pbuttonu13393 #u13399,#pbuttonu13405 #u13412,#pbuttonu13417 #u13428,#pbuttonu13429 #u13440,#pbuttonu13441 #u13442
{
	position: relative;
	width: 360px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u13443-4
{
	z-index: 234;
	width: 285px;
	min-height: 38px;
	background-color: transparent;
	color: #555555;
	line-height: 29px;
	font-size: 24px;
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13441:hover #u13443-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 188px;
	left: 22px;
	min-height: 38px;
}

#pbuttonu13381.ButtonSelected #u13384-4,#pbuttonu13393.ButtonSelected #u13394-4,#pbuttonu13405.ButtonSelected #u13411-4,#pbuttonu13417.ButtonSelected #u13423-4,#pbuttonu13429.ButtonSelected #u13435-4,#pbuttonu13441.ButtonSelected #u13443-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 38px;
	width: 285px;
}

#pbuttonu13381 #u13384-4,#pbuttonu13393 #u13394-4,#pbuttonu13405 #u13411-4,#pbuttonu13417 #u13423-4,#pbuttonu13429 #u13435-4,#pbuttonu13441 #u13443-4
{
	position: relative;
	width: 285px;
	margin-right: -10000px;
	margin-top: 187px;
	left: 21px;
}

#u13449-4
{
	z-index: 238;
	width: 170px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13441:hover #u13449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 22px;
	min-height: 0px;
}

#pbuttonu13381.ButtonSelected #u13385-5,#pbuttonu13393.ButtonSelected #u13395-4,#pbuttonu13405.ButtonSelected #u13407-4,#pbuttonu13417.ButtonSelected #u13418-5,#pbuttonu13429.ButtonSelected #u13430-4,#pbuttonu13441.ButtonSelected #u13449-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 170px;
}

#u13450
{
	float: left;
}

#u13451
{
	z-index: 242;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu13381 #u13385-5,#pbuttonu13393 #u13395-4,#pbuttonu13405 #u13407-4,#pbuttonu13417 #u13418-5,#pbuttonu13429 #u13430-4,#pbuttonu13441 #u13449-4
{
	position: relative;
	width: 170px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 21px;
}

#u13445-4
{
	z-index: 244;
	width: 123px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #495054;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 400;
}

#pbuttonu13441:hover #u13445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 227px;
	left: 190px;
	min-height: 0px;
}

#pbuttonu13381.ButtonSelected #u13389-4,#pbuttonu13417.ButtonSelected #u13424-4,#pbuttonu13429.ButtonSelected #u13436-5,#pbuttonu13441.ButtonSelected #u13445-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 0px;
	width: 123px;
}

#u13446
{
	float: left;
}

#u13386:hover,#u13396:hover,#u13402:hover,#u13408:hover,#u13414:hover,#u13419:hover,#u13425:hover,#u13431:hover,#u13437:hover,#u13450:hover,#u13446:hover
{
	min-height: 0px;
	margin: 0px;
}

#u13447
{
	z-index: 248;
	width: 20px;
	min-height: 15px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 12px;
	line-height: 14px;
}

#pbuttonu13417 #u13424-4,#pbuttonu13429 #u13436-5,#pbuttonu13441 #u13445-4
{
	position: relative;
	width: 123px;
	margin-right: -10000px;
	margin-top: 226px;
	left: 189px;
}

#u13444-6
{
	z-index: 250;
	width: 315px;
	min-height: 61px;
	background-color: transparent;
	color: #495054;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 300;
}

#pbuttonu13441:hover #u13444-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 261px;
	left: 22px;
	min-height: 61px;
}

#pbuttonu13381.ButtonSelected #u13382-6,#pbuttonu13393.ButtonSelected #u13400-6,#pbuttonu13405.ButtonSelected #u13406-6,#pbuttonu13417.ButtonSelected #u13422-6,#pbuttonu13429.ButtonSelected #u13434-6,#pbuttonu13441.ButtonSelected #u13444-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 61px;
	width: 315px;
}

#u13382-2,#u13400-2,#u13406-2,#u13422-2,#u13434-2,#u13444-2
{
	font-family: lato, sans-serif;
	font-weight: 700;
}

#pbuttonu13381 #u13382-6,#pbuttonu13393 #u13400-6,#pbuttonu13405 #u13406-6,#pbuttonu13417 #u13422-6,#pbuttonu13429 #u13434-6,#pbuttonu13441 #u13444-6
{
	position: relative;
	width: 315px;
	margin-right: -10000px;
	margin-top: 260px;
	left: 21px;
}

#ppbuttonu13453
{
	width: 0.01px;
	margin-left: 138px;
	margin-top: 92px;
}

#pbuttonu13453
{
	width: 0.01px;
	margin-right: -10000px;
}

#buttonu13453
{
	z-index: 258;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

.Pages_Button_Normal
{
	border-width: 0px;
	border-color: #787878;
	background-color: #4778BA;
	border-radius: 1px;
}

#u13454-4
{
	z-index: 259;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu13453:hover #u13454-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu13453:hover #u13454-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu13455
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 37px;
}

#buttonu13455
{
	z-index: 265;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#u13456-4
{
	z-index: 266;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu13455:hover #u13456-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu13455:hover #u13456-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu13457
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 75px;
}

#buttonu13457
{
	z-index: 272;
	width: 28px;
	height: 28px;
	position: relative;
	margin-right: -10000px;
}

#pbuttonu13453:hover #buttonu13453,#pbuttonu13455:hover #buttonu13455,#pbuttonu13457:hover #buttonu13457
{
	width: 24px;
	height: 24px;
	border-style: solid;
	border-width: 2px;
	border-color: #4778BA;
	background-color: transparent;
	border-radius: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u13458-4
{
	z-index: 273;
	width: 18px;
	min-height: 19px;
	background-color: transparent;
	line-height: 19px;
}

#pbuttonu13457:hover #u13458-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 3px;
	min-height: 19px;
}

#pbuttonu13453.ButtonSelected #u13454-4,#pbuttonu13455.ButtonSelected #u13456-4,#pbuttonu13457.ButtonSelected #u13458-4
{
	background-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 18px;
}

#pbuttonu13457:hover #u13458-4 p
{
	color: #4778BA;
	visibility: inherit;
	line-height: 1.2;
	font-size: 16px;
	letter-spacing: 1px;
	text-align: center;
	font-family: lato, sans-serif;
	font-weight: 700;
	font-style: normal;
	padding: 0px;
}

#pbuttonu13453.ButtonSelected #u13454-4 p,#pbuttonu13455.ButtonSelected #u13456-4 p,#pbuttonu13457.ButtonSelected #u13458-4 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#pbuttonu13453 #u13454-4,#pbuttonu13455 #u13456-4,#pbuttonu13457 #u13458-4
{
	position: relative;
	width: 18px;
	margin-right: -10000px;
	margin-top: 4px;
	left: 5px;
}

#u16248
{
	z-index: 291;
	width: 310px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 35px;
	margin-top: 100px;
	position: relative;
}

#u16259-4
{
	z-index: 292;
	width: 172px;
	min-height: 22px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	position: relative;
}

#u16260-4
{
	z-index: 300;
	width: 309px;
	min-height: 85px;
	background-color: transparent;
	line-height: 16px;
	margin-left: 1px;
	margin-top: 6px;
	position: relative;
}

#u16261
{
	z-index: 324;
	width: 310px;
	min-height: 814px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
}

#u16250-4
{
	z-index: 296;
	width: 172px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-family: lato, sans-serif;
	font-weight: 700;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#pu16264
{
	width: 0.01px;
	margin-left: 1px;
	margin-top: 7px;
}

#u16264
{
	z-index: 320;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16251-4
{
	z-index: 304;
	width: 131px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u16253
{
	z-index: 321;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16252-4
{
	z-index: 308;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#pu16253,#pu16255
{
	width: 0.01px;
	margin-top: 9px;
}

#u16255
{
	z-index: 322;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16249-4
{
	z-index: 312;
	width: 220px;
	min-height: 25px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#pu16257
{
	width: 0.01px;
	margin-top: 7px;
}

#u16257
{
	z-index: 323;
	width: 20px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	color: #4778BA;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u16263-4
{
	z-index: 316;
	width: 220px;
	min-height: 23px;
	background-color: transparent;
	line-height: 22px;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 30px;
}

#u16251-2,#u16252-2,#u16249-2,#u16263-2
{
	font-family: lato, sans-serif;
}

#u12580
{
	z-index: 3;
	min-height: 794.3750000000009px;
	padding: 43px 35px 45.62499999999909px;
}

#u16658
{
	z-index: 4;
	width: 310px;
	padding-bottom: 0px;
	position: relative;
}

#u12581-4
{
	z-index: 5;
	width: 228px;
	position: relative;
}

#u12582-4
{
	z-index: 9;
	width: 310px;
	margin-top: 12px;
	position: relative;
}

#u16661
{
	z-index: 71;
	width: 238px;
	padding-bottom: 0px;
	margin-top: 48px;
	position: relative;
}

#u16659
{
	z-index: 73;
	width: 170px;
	margin-left: 1px;
	position: relative;
}

#u16660-4
{
	z-index: 74;
	width: 170px;
	position: relative;
	margin-right: -10000px;
}

#u16172
{
	z-index: 72;
	width: 238px;
	min-height: 160px;
	margin-top: 5px;
	position: relative;
}

#u14328
{
	z-index: 22;
	width: 309px;
	margin-left: 1px;
	margin-top: 44px;
	position: relative;
}

#u14329-4
{
	z-index: 23;
	width: 228px;
	position: relative;
}

#u14343-4
{
	z-index: 27;
	width: 228px;
	margin-top: 13px;
	position: relative;
}

#widgetu14330
{
	z-index: 31;
	width: 0.01px;
	height: 126px;
	margin-top: 12px;
	position: relative;
}

#widgetu14337
{
	z-index: 32;
	width: 309px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#widgetu14337.fld-err-st
{
	width: 309px;
	height: 34px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u14339-4
{
	z-index: 33;
	width: 289px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14337:hover #u14339-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14333
{
	z-index: 37;
	width: 309px;
	height: 34px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
}

#widgetu14333.fld-err-st
{
	width: 309px;
	height: 34px;
	min-height: 0px;
	margin: 53px -10000px 0px 0px;
}

#u14335-4
{
	z-index: 38;
	width: 289px;
	min-height: 14px;
	padding: 10px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14337.fld-err-st #u14339-4,#widgetu14333:hover #u14335-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14333.fld-err-st #u14335-4
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 289px;
	margin: 0px -10000px 0px 0px;
}

#widgetu14337_input,#widgetu14337_prompt,#widgetu14333_input,#widgetu14333_prompt
{
	width: 289px;
	min-height: 14px;
	padding: 10px;
}

#widgetu14337:hover #widgetu14337_input,#widgetu14337.fld-err-st #widgetu14337_input,#widgetu14337:hover #widgetu14337_prompt,#widgetu14337.fld-err-st #widgetu14337_prompt,#widgetu14333:hover #widgetu14333_input,#widgetu14333.fld-err-st #widgetu14333_input,#widgetu14333:hover #widgetu14333_prompt,#widgetu14333.fld-err-st #widgetu14333_prompt
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#u14332-4
{
	z-index: 42;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14342-4
{
	z-index: 46;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#u14331-4
{
	z-index: 50;
	width: 200px;
	min-height: 21px;
	padding-top: 4px;
	position: relative;
	margin-right: -10000px;
}

#widgetu14330.frm-sub-st #u14332-4,#widgetu14330.frm-subm-err-st #u14342-4,#widgetu14330.frm-subm-ok-st #u14331-4
{
	min-height: 25px;
}

#u14341-17
{
	z-index: 54;
	min-height: 30px;
	width: 130px;
	position: relative;
	margin-right: -10000px;
	margin-top: 96px;
}

#u17597
{
	z-index: 78;
	width: 216px;
	padding-bottom: 0px;
	margin-top: 45px;
	position: relative;
}

#u17603-4
{
	z-index: 90;
	width: 214px;
	margin-left: 2px;
	position: relative;
}

#u17598-11
{
	z-index: 79;
	width: 214px;
	min-height: 104px;
	margin-left: 2px;
	margin-top: 13px;
	position: relative;
}

#pu17606
{
	width: 0.01px;
	margin-top: -8px;
}

#u17606
{
	z-index: 94;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
}

#u17601
{
	z-index: 95;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 42px;
}

#u17599
{
	z-index: 96;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 84px;
}

#u17604
{
	z-index: 97;
	width: 32px;
	min-height: 33px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u12580-bw
{
	z-index: 3;
	min-height: 794.3750000000009px;
	margin-top: 75px;
}

#u12650
{
	z-index: 13;
	min-height: 32px;
	padding-bottom: 15px;
}

#u12651-4
{
	z-index: 14;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 35px;
}

#u12652-4
{
	z-index: 18;
	width: 228px;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 117px;
}

#u12650-bw
{
	z-index: 13;
	min-height: 32px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 46px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

